**/.DS_Store
**/test/
**/*_test.go
**/__debug_bin*

/*.envrc
/*.env
/.git/
/.gitignore
/.travis.yml
/.vscode/
/README.md
/artifact.sh
/dist/
/node_modules/
/spec/
/test/
/test.sh
/tmp/
/tools/
/version.sh
