# Compilation artifacts
dist/

# Test coverage report
*.coverprofile

# ide
.idea/

# Linkerd Service Profile
service-profile/

# testing or other tools
/node_modules/
/tools/

artifact_docker.sh

.vscode/
*.envrc
*.env
