# Compilation artifacts
dist/
__debug_bin*

# Test coverage report
*.coverprofile
*.test

# idea
.idea/

# VSCode
.vscode/

# Linkerd Service Profile
service-profile/

# testing or other tools
/node_modules/
/tools/

*.envrc
*.env
