openapi: 3.0.0
info:
  title: Clinics API
  version: '1.0'
  description: 'Web service that stores information about clinics, clinicians and their patients'
  contact:
    name: Tidepool
    url: 'https://www.tidepool.org'
    email: support@tidepool.org
  license:
    name: BSD-2-Clause
    url: 'https://github.com/tidepool-org/clinic/blob/master/LICENSE'
  x-tidepool-service: 'https://github.com/tidepool-org/clinic/'
servers:
  - url: 'https://external.integration.tidepool.org'
    description: integration
  - url: 'https://api.tidepool.org'
    description: production
  - url: 'https://dev1.dev.tidepool.org'
    description: dev1
  - url: 'https://qa1.development.tidepool.org'
    description: qa1
  - url: 'https://qa2.development.tidepool.org'
    description: qa2
paths:
  /v1/clinics:
    get:
      summary: List Clinics
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clinics'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: ListClinics
      description: Retrieve the list of clinics
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/shareCode'
        - $ref: '#/components/parameters/createdTimeStart'
        - $ref: '#/components/parameters/createdTimeEnd'
        - $ref: '#/components/parameters/ehrEnabled'
      x-roles:
        - TIDEPOOL_ADMIN
        - CLINIC_ADMIN
        - CLINIC_CLINICIAN
    parameters: []
    post:
      summary: Create Clinic
      operationId: CreateClinic
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clinic'
            application/xml:
              schema:
                type: object
                properties: {}
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Clinic'
      description: Create a new clinic
      x-roles: []
      tags:
        - Clinics
      parameters: []
  '/v1/clinics/share_code/{shareCode}':
    parameters:
      - schema:
          type: string
          minLength: 1
        name: shareCode
        in: path
        required: true
    get:
      summary: Get Clinic by Share Code
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clinic'
      operationId: GetClinicByShareCode
      description: Retrieve a clinic object with a share code
  '/v1/clinics/{clinicId}':
    parameters:
      - $ref: '#/components/parameters/clinicId'
    get:
      summary: Get Clinic
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clinic'
          links:
            get-clinicians:
              operationId: get-clinics-clinicid-clinicians
              parameters:
                clinicid: $request.query.clinicid
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      operationId: GetClinic
      description: Retrieve a clinic by id
      x-roles:
        - TIDEPOOL_ADMIN
        - CLINIC_ADMIN
        - CLINIC_CLINICIAN
      parameters: []
    put:
      summary: Update Clinic
      operationId: UpdateClinic
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clinic'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      description: Update an existing clinic
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Clinic'
          application/xml:
            schema:
              type: object
              properties: {}
        description: ''
      security:
        - sessionToken: []
      x-roles:
        - TIDEPOOL_ADMIN
        - CLINIC_ADMIN
      tags:
        - Clinics
    delete:
      summary: Delete Clinic
      operationId: DeleteClinic
      responses:
        '204':
          description: No Content
      description: Deletes a clinic if there are no connected patient accounts (besides demo accounts).
      tags:
        - Clinics
  '/v1/clinics/{clinicId}/clinicians':
    parameters:
      - $ref: '#/components/parameters/clinicId'
    get:
      summary: List Clinicians
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clinicians'
      operationId: ListClinicians
      description: 'Retrieve the list of clinic members. '
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/email'
        - $ref: '#/components/parameters/role'
    post:
      summary: Create Clinician
      operationId: CreateClinician
      responses:
        '200':
          description: OK
      description: Internal endpoint to create a new clinician
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Clinician'
      tags:
        - Clinics
  '/v1/clinics/{clinicId}/tide_report':
    parameters:
      - $ref: '#/components/parameters/clinicId'
    get:
      summary: View TIDE Report
      description: Retrieve a report of patients with tags by TIDE categories
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tide'
      operationId: TideReport
      parameters:
        - schema:
            type: string
            pattern: ^(1d|7d|14d|30d)$
            example: 7d
          in: query
          name: period
          description: Time Period to display
        - schema:
            type: array
            items:
              type: string
              format: '^[a-f0-9]{24}$'
          in: query
          name: tags
          description: Comma-separated list of patient tag IDs
          style: form
          explode: false
        - schema:
            type: string
            format: date-time
          in: query
          name: cgm.lastUploadDateFrom
          description: Inclusive
        - schema:
            type: string
            format: date-time
          in: query
          name: cgm.lastUploadDateTo
          description: Exclusive
  '/v1/clinics/{clinicId}/patients':
    parameters:
      - $ref: '#/components/parameters/clinicId'
    get:
      summary: List Patients
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientsResponse'
      operationId: ListPatients
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
        - schema:
            type: string
            pattern: ^(cgm|bgm)$
            example: cgm
          in: query
          name: sortType
          description: Summary type to sort by
        - schema:
            type: string
            pattern: ^(1d|7d|14d|30d)$
            example: 7d
          in: query
          name: period
          description: 'Time Period to display, filter, and sort'
        - schema:
            type: boolean
          in: query
          name: offsetPeriods
          required: false
          description: 'If we should display, filter, and sort based on the offset periods or default periods'
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d\.\d\d?$
            example: '>=0.5'
          in: query
          name: cgm.timeCGMUsePercent
          description: Percentage of time of CGM use
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d\.\d\d?$
            example: '>=0.7'
          in: query
          name: cgm.timeInVeryLowPercent
          description: Percentage of time below 54 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d\.\d\d?$
            example: '>=0.7'
          in: query
          name: cgm.timeInAnyLowPercent
          description: Percentage of time below 70 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d\.\d\d?$
            example: '>=0.7'
          in: query
          name: cgm.timeInLowPercent
          description: Percentage of time in range 54-70 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d\.\d\d?$
            example: '>=0.7'
          in: query
          name: cgm.timeInTargetPercent
          description: Percentage of time in range 70-180 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d\.\d\d?$
            example: '>=0.7'
          in: query
          name: cgm.timeInHighPercent
          description: Percentage of time in range 180-250 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d\.\d\d?$
            example: '>=0.7'
          in: query
          name: cgm.timeInVeryHighPercent
          description: Percentage of time above 250 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d\.\d\d?$
            example: '>=0.7'
          in: query
          name: cgm.timeInAnyHighPercent
          description: Percentage of time above 180 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: cgm.timeCGMUseRecords
          description: Records of CGM use
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: cgm.timeInVeryLowRecords
          description: Records below 54 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: cgm.timeInAnyLowRecords
          description: Records below 70 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: cgm.timeInLowRecords
          description: Records in range 54-70 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: cgm.timeInTargetRecords
          description: Records in range 70-180 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: cgm.timeInHighRecords
          description: Records in range 180-250 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: cgm.timeInVeryHighRecords
          description: Records above 250 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: cgm.timeInAnyHighRecords
          description: Records above 180 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: cgm.averageDailyRecords
          description: Average records per day
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: cgm.totalRecords
          description: Total records in period
        - schema:
            type: string
            format: date-time
          in: query
          name: cgm.lastUploadDateFrom
          description: Inclusive
        - schema:
            type: string
            format: date-time
          in: query
          name: cgm.lastUploadDateTo
          description: Exclusive
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d\.\d\d?$
            example: '>=0.7'
          in: query
          name: bgm.timeInVeryLowPercent
          description: Percentage of time below 54 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d\.\d\d?$
            example: '>=0.7'
          in: query
          name: bgm.timeInAnyLowPercent
          description: Percentage of time below 70 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d\.\d\d?$
            example: '>=0.7'
          in: query
          name: bgm.timeInLowPercent
          description: Percentage of time in range 54-70 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d\.\d\d?$
            example: '>=0.7'
          in: query
          name: bgm.timeInTargetPercent
          description: Percentage of time in range 70-180 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d\.\d\d?$
            example: '>=0.7'
          in: query
          name: bgm.timeInHighPercent
          description: Percentage of time in range 180-250 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d\.\d\d?$
            example: '>=0.7'
          in: query
          name: bgm.timeInVeryHighPercent
          description: Percentage of time above 250 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d\.\d\d?$
            example: '>=0.7'
          in: query
          name: bgm.timeInAnyHighPercent
          description: Percentage of time above 180 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: bgm.timeInVeryLowRecords
          description: Records below 54 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: bgm.timeInAnyLowRecords
          description: Records below 70 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: bgm.timeInLowRecords
          description: Records in range 54-70 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: bgm.timeInTargetRecords
          description: Records in range 70-180 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: bgm.timeInHighRecords
          description: Records in range 180-250 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: bgm.timeInVeryHighRecords
          description: Records above 250 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: bgm.timeInAnyHighRecords
          description: Records above 180 mg/dL
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: bgm.averageDailyRecords
          description: Average records per day
        - schema:
            type: string
            pattern: ^(>=|>|<=|<)\d+$
            example: '>=42'
          in: query
          name: bgm.totalRecords
          description: Total records in period
        - schema:
            type: string
            format: date-time
          in: query
          name: bgm.lastUploadDateFrom
          description: Inclusive
        - schema:
            type: string
            format: date-time
          in: query
          name: bgm.lastUploadDateTo
          description: Exclusive
        - schema:
            type: array
            items:
              type: string
              format: '^[a-f0-9]{24}$'
          in: query
          name: tags
          description: Comma-separated list of patient tag IDs
          style: form
          explode: false
      description: Retrieve a list of patients of a clinic
    post:
      summary: Create Patient Account
      operationId: CreatePatientAccount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
      description: Create a custodial account for a patient
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patient'
      tags:
        - Clinics
  '/v1/clinics/{clinicId}/patient_tags':
    parameters:
      - $ref: '#/components/parameters/clinicId'
    post:
      summary: Create Patient Tag
      operationId: CreatePatientTag
      responses:
        '200':
          description: OK
      description: Create a new patient tag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientTag'
      tags:
        - Clinics
  '/v1/clinics/{clinicId}/clinicians/{clinicianId}':
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/clinicianId'
    get:
      summary: Get Clinician
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clinician'
      operationId: GetClinician
      description: Retrieve a member of clinic given their user id
    put:
      summary: Update Clinician
      operationId: UpdateClinician
      responses:
        '200':
          description: OK
      description: Update existing clinician
      tags:
        - Clinics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Clinician'
    delete:
      summary: Delete Clinician
      operationId: DeleteClinician
      responses:
        '200':
          description: OK
      description: Removes a clinician from a clinic
      tags:
        - Clinics
  '/v1/clinics/{clinicId}/patients/{patientId}':
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/patientId'
    get:
      summary: Get Patient
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
      operationId: GetPatient
      description: Retrieve a patient of clinic given their user id
    post:
      summary: Create Patient from Existing User
      operationId: CreatePatientFromUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
      description: Internal endpoint for creating a patient from an existing user
      tags:
        - Clinics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePatient'
    put:
      summary: Update Patient
      operationId: UpdatePatient
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
      description: Update existing patient of a clinic
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patient'
      tags:
        - Clinics
    delete:
      summary: Delete Patient
      operationId: DeletePatient
      responses:
        '204':
          description: No Content
      description: Deletes patient from a clinic. Requires the request to be made by a clinic admin or the currently authenticated user id to match the patient id.
      tags:
        - Clinics
  '/v1/clinics/{clinicId}/patient_tags/{patientTagId}':
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/patientTagId'
    put:
      summary: Update Patient Tag
      operationId: UpdatePatientTag
      responses:
        '200':
          description: OK
      description: Update existing patient tag
      tags:
        - Clinics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientTag'
    delete:
      summary: Delete Patient Tag
      operationId: DeletePatientTag
      responses:
        '200':
          description: OK
      description: Removes a patient tag from a clinic and tagged patients
      tags:
        - Clinics
  '/v1/clinics/{clinicId}/invites/clinicians':
    parameters:
      - $ref: '#/components/parameters/clinicId'
    post:
      summary: Invite Clinician
      operationId: InviteClinician
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clinician'
      description: Send an invite to clinician's email address to join a clinic.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteClinician'
      tags:
        - Clinics
        - Confirmations
  '/v1/clinics/{clinicId}/invites/clinicians/{inviteId}':
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/inviteId'
    patch:
      summary: Resend Clinician Invite
      operationId: ResendInvite
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v1~1clinics~1%7BclinicId%7D~1invites~1clinicians~1%7BinviteId%7D/get/responses/200/content/application~1json/schema'
      description: Resend invite to the email address of the clinician.
      tags:
        - Clinics
        - Confirmations
    delete:
      summary: Delete Invite
      operationId: DeleteInvite
      responses:
        '200':
          description: OK
      description: Deletes unaccepted invite
      tags:
        - Clinics
        - Confirmations
    get:
      summary: Get Clinician Invite
      operationId: GetClinicianInvite
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Confirmation
                type: object
                properties:
                  key:
                    title: Confirmation key that uniquely identifies each confirmation
                    type: string
                    minLength: 32
                    maxLength: 32
                    example: Sds2PHMALZrmt++JyD5mIjLkZruJldiM
                  type:
                    title: Confirmation Type
                    type: string
                    enum:
                      - password_reset
                      - careteam_invitation
                      - clinician_invitation
                      - signup_confirmation
                      - no_account
                  status:
                    title: Confirmation Status
                    type: string
                    enum:
                      - pending
                      - completed
                      - canceled
                      - declined
                  email:
                    $ref: '#/components/schemas/InviteClinician/properties/email'
                  creatorId:
                    $ref: '#/components/schemas/TidepoolUserId'
                  created:
                    $ref: '#/components/schemas/DateTime'
                  modified:
                    $ref: '#/components/schemas/DateTime'
                  creator:
                    title: Creator
                    type: object
                    properties:
                      userid:
                        $ref: '#/components/schemas/TidepoolUserId'
                      profile:
                        title: Creator user profile
                        type: object
                        properties:
                          fullName:
                            type: string
                          patient:
                            title: Patient User Profile
                            type: object
                            properties:
                              birthday:
                                title: Birthday
                                type: string
                                format: date
                                example: '2012-08-30'
                                x-go-type: string
                              diagnosisDate:
                                title: Diagnosis Date
                                type: string
                                format: date
                                pattern: '^\d{4}-\d{2}-\d{2}$'
                                example: '2013-05-09'
                                x-go-type: string
                              isOtherPerson:
                                type: boolean
                                example: false
                              fullName:
                                type: string
                                example: James Jellyfish
                        required:
                          - fullName
                          - patient
                    required:
                      - userid
                      - profile
                  context:
                    type: string
                  restrictions:
                    title: Acceptance restrictions
                    type: object
                    properties:
                      canAccept:
                        type: boolean
                        description: Whether the invite can be accepted by the current user
                      requiredIdp:
                        type: string
                        description: Set if the user must be authenticated against a specific identity provider before they are able to accept the invite
                    required:
                      - canAccept
                required:
                  - key
                  - type
                  - status
                  - email
                  - creatorId
                  - created
      description: Retrieve an invitation sent to clinician to join the clinic
      tags:
        - Confirmations
  '/v1/clinics/{clinicId}/invites/clinicians/{inviteId}/clinician':
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/inviteId'
    patch:
      summary: Associate Clinician to User
      operationId: AssociateClinicianToUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clinician'
      description: Internal endpoint to associate a clinician to a user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssociateClinicianToUser'
      tags:
        - Clinics
    delete:
      summary: Delete Invited Clinician
      operationId: DeleteInvitedClinician
      responses:
        '200':
          description: OK
      description: Internal endpoint to delete an invited clinician object
      tags:
        - Clinics
    get:
      summary: Get Invited Clinician
      operationId: GetInvitedClinician
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clinician'
      description: Internal endpoint to retrieve invited clinician.
      tags:
        - Clinics
  '/v1/clinics/{clinicId}/invites/patients':
    parameters:
      - $ref: '#/components/parameters/clinicId'
    get:
      summary: Get Patient Invites
      tags:
        - Clinics
        - Confirmations
      responses:
        '200':
          description: OK
      operationId: GetPatientInvites
      description: Retrieve the list of all pending invites from users who would like to share their accounts with the clinic and become patients.
  '/v1/clinics/{clinicId}/invites/patients/{inviteId}':
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/inviteId'
    put:
      summary: Accept Patient Invitation
      operationId: AcceptPatientInvitation
      responses:
        '200':
          description: OK
      description: Accept a pending invite from a user who would like to share their account with the clinic and become a patient.
      tags:
        - Clinics
        - Confirmations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptPatientInvitation'
  '/v1/clinics/{clinicId}/patients/{patientId}/permissions':
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/patientId'
    put:
      summary: Update Patient Permissions
      operationId: UpdatePatientPermissions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientPermissions'
      description: |-
        Update permissions that a clinic has over a patient account. If all permissions are revoked as a result of the update, the patient profile will be removed from the clinic.

        Only patients can change the permissions.
      tags:
        - Clinics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientPermissions'
      parameters: []
  '/v1/clinics/{clinicId}/patients/{patientId}/permissions/{permission}':
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/patientId'
      - schema:
          type: string
          enum:
            - custodian
            - view
            - upload
            - note
        name: permission
        in: path
        required: true
    delete:
      summary: Delete Patient Permission
      operationId: DeletePatientPermission
      description: |-
        Remove a single permission that a clinic has over a patient account. If all permissions are revoked as a result of the update, the patient profile will be removed from the clinic.

        Only patients can change the permissions.
      tags:
        - Clinics
      parameters: []
      responses:
        '204':
          description: No Content
  '/v1/patients/{userId}/clinics':
    parameters:
      - $ref: '#/components/parameters/userId'
    get:
      summary: List Clinics for Patient
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientClinicRelationships'
      operationId: ListClinicsForPatient
      description: Get all clinics a user is a patient of
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
  '/v1/clinicians/{userId}/invites':
    parameters:
      - $ref: '#/components/parameters/userId'
    get:
      summary: List Clinician Invites
      tags:
        - Clinics
        - Confirmations
      responses:
        '200':
          description: OK
      operationId: ListClinicianInvites
      description: Retrieve a list of the outstanding invites to join a clinic
  '/v1/clinicians/{userId}/invites/{inviteId}':
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/inviteId'
    delete:
      summary: Dismiss Clinician Invite
      operationId: DismissClinicianInvite
      responses:
        '200':
          description: OK
      tags:
        - Clinics
        - Confirmations
      description: Dismisses an invite sent from a clinic to clinician
    put:
      summary: Accept Clinician Invite
      operationId: AcceptClinicianInvite
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clinician'
      description: Accept an invite to join a clinic as clinician. The clinician will be associated to the currently authenticated user if the email in their profile matches the email of the invite.
      tags:
        - Clinics
        - Confirmations
  '/v1/clinicians/{userId}/clinics':
    parameters:
      - $ref: '#/components/parameters/userId'
    get:
      summary: List Clinics for Clinician
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicianClinicRelationships'
      operationId: ListClinicsForClinician
      description: Returns a list of all clinics a clinician is a member of
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
  '/v1/clinics/{clinicId}/migrations':
    parameters:
      - schema:
          type: string
        name: clinicId
        in: path
        required: true
    post:
      summary: Migrate Legacy Clinician Patients
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Migration'
      operationId: MigrateLegacyClinicianPatients
      tags:
        - Clinics
        - Internal
      description: 'Migrate the patients of a legacy clinic account. '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Migration'
    get:
      summary: Retrieve Migration Status
      operationId: ListMigrations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Migrations'
      description: ListMigrations
      tags:
        - Clinics
        - Internal
  '/v1/clinicians/{userId}/migrate':
    parameters:
      - schema:
          type: string
        name: userId
        in: path
        required: true
    post:
      summary: Enable Clinics
      tags:
        - Clinics
        - Internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clinic'
      operationId: EnableNewClinicExperience
      description: Internal only endpoint to enable new clinic experience for a legacy clinician account. Patients won't be migrated until the clinic details are populated and migration is explicitly kicked-off by blip.
  '/v1/clinics/{clinicId}/migrate':
    parameters:
      - schema:
          type: string
        name: clinicId
        in: path
        required: true
    post:
      summary: Trigger initial migration
      tags:
        - Clinics
        - Internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Migration'
      operationId: TriggerInitialMigration
      description: Trigger the initial migration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerMigration'
  '/v1/clinics/{clinicId}/migrations/{userId}':
    parameters:
      - description: Clinic ID
        name: clinicId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      - $ref: '#/components/parameters/userId'
    get:
      summary: Get Migration
      tags:
        - Clinics
        - Internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Migration'
      operationId: GetMigration
      description: Get a migration by user id
    patch:
      summary: Update Migration
      operationId: UpdateMigration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Migration'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrationUpdate'
      description: Internal endpoint to update the status of a migration
      tags:
        - Clinics
        - Internal
  '/v1/users/{userId}/clinics':
    parameters:
      - $ref: '#/components/parameters/userId'
    delete:
      summary: Remove User from Clinics
      operationId: DeleteUserFromClinics
      responses:
        '200':
          description: OK
      tags:
        - Clinics
        - Internal
      description: |-
        Internal endpoint that deletes any user associations with clinics they are a patient or a member of.

        If the user is a patient of a clinic the service will delete the patient-clinic relationship.

        If the user is one of many admins of any clinic the service will delete the clinician-clinic relationship.

        If the user is the only admin of a clinic the service will:
        - delete the clinician record, leaving the clinic without an admin
        - delete all non-custodial patient relationships of the clinic
        - keep all custodian relationships, allowing users to claim custodial accounts with an email
        - keep all custodian accounts and data even if they can’t be claimed when there isn’t an email address associated with the account
    post:
      summary: Update User Details
      operationId: UpdateClinicUserDetails
      responses:
        '204':
          description: No Content
      description: Internal endpoint to update clinician details. In the future it may be extended to support patient updates.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserDetails'
      tags:
        - Clinics
        - Internal
  /v1/clinicians:
    get:
      summary: List All Clinicians
      tags:
        - Clinics
        - Internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClinicianClinicRelationship'
      operationId: ListAllClinicians
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/createdTimeStart'
        - $ref: '#/components/parameters/createdTimeEnd'
      description: Returns list of all clinician/clinic relationships in the system. Internal endpoint used for reporting purposes.
  '/v1/patients/{patientId}/summary':
    parameters:
      - $ref: '#/components/parameters/patientId'
    post:
      summary: UpdatePatientSummary
      operationId: UpdatePatientSummary
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
      description: Internal endpoint which updates the summary in all patient records which match the user id.
      tags:
        - Clinics
        - Internal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientSummary'
        description: ''
  '/v1/patients/{userId}/data_sources':
    parameters:
      - $ref: '#/components/parameters/userId'
    put:
      summary: Create or update a data source for a patient
      operationId: UpdatePatientDataSources
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
      description: Internal endpoint to upsert patient data source provider details in all their associated clinic records.
      tags:
        - Clinics
        - Internal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataSources'
  '/v1/clinics/{clinicId}/tier':
    parameters:
      - $ref: '#/components/parameters/clinicId'
    post:
      summary: Update Tier
      operationId: UpdateTier
      responses:
        '200':
          description: OK
      description: Internal endpoint to update clinic service tier
      tags:
        - Clinics
        - Internal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTier'
  '/v1/clinics/{clinicId}/suppressed_notifications':
    parameters:
      - $ref: '#/components/parameters/clinicId'
    post:
      summary: Update Suppressed Notifications
      operationId: UpdateSuppressedNotifications
      responses:
        '200':
          description: OK
      description: Endpoint to update clinic suppressed notifications
      tags:
        - Clinics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSuppressedNotifications'
  '/v1/clinics/{clinicId}/patients/{patientId}/upload_reminder':
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/patientId'
    post:
      summary: Send Upload Reminder
      operationId: SendUploadReminder
      responses:
        '200':
          description: OK
      description: Sends upload reminder to the patient
      tags:
        - Clinics
  '/v1/clinics/{clinicId}/patients/{patientId}/send_dexcom_connect_request':
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/patientId'
    post:
      summary: Resend Dexcom connect request email
      operationId: SendDexcomConnectRequest
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
      description: Resend Dexcom connect request to the email address of the patient
      tags:
        - Clinics
  '/v1/clinics/{clinicId}/patients/assign_tag/{patientTagId}':
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/patientTagId'
    post:
      summary: Assign Patient Tag To Clinic Patients
      operationId: AssignPatientTagToClinicPatients
      requestBody:
        description: Array of clinic patient user IDs to target for tag assignment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TidepoolUserIds'
      responses:
        '200':
          description: OK
      description: Assign a patient tag to a subset of clinic patients
      tags:
        - Clinics
        - Internal
  '/v1/clinics/{clinicId}/patients/delete_tag/{patientTagId}':
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/patientTagId'
    post:
      summary: Delete Patient Tag From Clinic Patients
      operationId: DeletePatientTagFromClinicPatients
      requestBody:
        description: Pass an array of patient IDs to target a subset of the clinic patients. Omit request body to target all clinic patients.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TidepoolUserIds'
      responses:
        '200':
          description: OK
      description: Delete a patient tag from all or a subset of clinic patients
      tags:
        - Clinics
        - Internal
  '/v1/clinics/{clinicId}/membership_restrictions':
    parameters:
      - $ref: '#/components/parameters/clinicId'
    get:
      summary: List Membership Restrictions
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipRestrictions'
      operationId: ListMembershipRestrictions
      description: |-
        Returns a list of the membership restrictions that will be evaluated when a user joins a clinic.

        Only clinic admins can access this endpoint.
    put:
      summary: Update Membership Restrictions
      operationId: UpdateMembershipRestrictions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipRestrictions'
      description: An internal endpoint to update clinic membership restrictions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MembershipRestrictions'
      x-internal: true
      tags:
        - Clinics
        - Internal
  /v1/redox:
    post:
      summary: Redox EHR Endpoint
      operationId: ProcessEHRMessage
      responses:
        '200':
          description: OK
      tags:
        - Redox
      description: An endpoint for incoming Redox messages
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
  /v1/redox/verify:
    post:
      summary: Redox Verify Endpoint
      operationId: VerifyEndpoint
      responses:
        '200':
          description: OK
      tags:
        - Redox
        - Internal
      x-internal: true
      description: Internal endpoint for Redox challenge verification
  '/v1/clinics/{clinicId}/settings/ehr':
    parameters:
      - $ref: '#/components/parameters/clinicId'
    get:
      summary: Get EHR Settings
      tags:
        - Clinics
        - Internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EHRSettings'
      operationId: GetEHRSettings
      description: Returns EHR related settings
      x-internal: true
    put:
      summary: Update EHR Settings
      operationId: UpdateEHRSettings
      responses:
        '200':
          description: OK
      description: Update EHR related settings for a clinic
      tags:
        - Clinics
        - Internal
      x-internal: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EHRSettings'
  /v1/redox/match:
    post:
      summary: Match Clinic and Patient
      operationId: MatchClinicAndPatient
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EHRMatchResponse'
        '404':
          description: Not Found
      tags:
        - Clinics
        - Internal
      description: |
        An internal endpoint used for matching an EHR request (e.g. NewOrder) to a clinic and patient.

        If a clinic with the provided details cannot be found, the service will return `404 Not Found` and will not attempt to match patients to the provided details.

        Due to lack of uniqueness constraints on the MRN and DOB fields it's possible that multiple patient records match the provided attributes. All results will be returned in the response and it's the calling services responsiblity to determine how to handle duplicates records.

        If a unique match is found, the patient matching criteria will be added to the patient record for future use (e.g. pushing data on a schedule).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EHRMatchRequest'
  '/v1/clinics/{clinicId}/settings/mrn':
    parameters:
      - $ref: '#/components/parameters/clinicId'
    get:
      summary: Get MRN Settings
      tags:
        - Clinics
        - Internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MRNSettings'
      operationId: GetMRNSettings
      x-internal: true
      description: Retrieve MRN settings
    put:
      summary: Update MRN Settings
      operationId: UpdateMRNSettings
      responses:
        '200':
          description: OK
      tags:
        - Clinics
        - Internal
      description: Update MRN Settings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MRNSettings'
  '/v1/clinics/{clinicId}/ehr/sync':
    parameters:
      - $ref: '#/components/parameters/clinicId'
    post:
      summary: Sync EHR Data
      operationId: SyncEHRData
      responses:
        '202':
          description: Accepted
      description: |-
        An internal endpoint which will push the latest patient summary statistics and PDF reports for all patients who have an active subscription. The actual data is pushed asynchronously. A successful response means that an asynchronous task has been scheduled for each patient of the clinic with an active subscription.

        Will return 404 Not Found if the clinic does not have an active EHR connection.
      tags:
        - Clinics
        - Internal
      x-internal: true
      parameters: []
  /v1/patients:
    get:
      summary: Find Patients
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientClinicRelationships'
      operationId: FindPatients
      description: Returns all patients to which the clinician has access to
      parameters:
        - schema:
            type: string
          in: query
          name: mrn
        - schema:
            type: string
          in: query
          name: birthDate
        - schema:
            type: string
          in: query
          name: workspaceId
          description: The identifier of the workspace
        - schema:
            type: string
            enum:
              - clinicId
              - ehrSourceId
          in: query
          name: workspaceIdType
          description: The type of the workspace identifier
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
  /v1/xealth/preorder:
    parameters: []
    post:
      summary: Preorder Form Webhook
      operationId: XealthPreorder
      responses:
        '200':
          description: OK
      tags:
        - Clinics
        - Internal
      x-internal: true
      description: |-
        The Preorder endpoint can be invoked when a care provider attempts to place an order manually within the EHR. Subscribers can use Preorder Forms to present additional information to, or receive input from, a care provider before an order can be placed. Preorder Forms can also be implemented so as to prevent an order from being placed entirely.

        https://sandbox.xealth.io/app/api-docs#tag/Digital-Care/paths/preorder/post
  /v1/xealth/programs:
    put:
      summary: Get Programs
      operationId: XealthGetPrograms
      responses:
        '200':
          description: OK
  /v1/xealth/program:
    put:
      summary: Get Program Url
      operationId: XealthGetProgramUrl
      responses:
        '200':
          description: OK
      description: ''
  /v1/xealth/notification:
    post:
      summary: Notification Webhook
      operationId: XealthNotification
      responses:
        '200':
          description: OK
      description: ''
  /v1/xealth/report/web/viewer.html:
    get:
      summary: View PDF Report
      tags: []
      responses: {}
      operationId: ViewPDFReport
      description: View PDF report for a given patient of a clinic
      parameters:
        - schema:
            type: string
          in: query
          name: clinicId
          required: true
        - schema:
            type: string
          in: query
          name: patientId
          required: true
        - schema:
            type: string
          in: query
          name: restricted_token
          required: true
    parameters: []
components:
  schemas:
    Error:
      title: Error
      type: object
      properties:
        code:
          type: integer
          example: 404
        message:
          type: string
          example: Requested resources was not found
      required:
        - code
        - message
    Clinic:
      title: Clinic
      description: Clinic
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        address:
          title: Street Address
          description: Street address.
          type: string
          minLength: 1
        city:
          title: City
          description: City name.
          type: string
          minLength: 1
          example: Palo Alto
        postalCode:
          title: Postal Code
          description: 'Postal code. In the U.S., typically the zip code such as `94301` or `94301-1704`.'
          type: string
          minLength: 1
          example: '94301'
        state:
          title: State
          description: 'State or province. In the U.S., typically something like `CA` or `California`.'
          type: string
          minLength: 1
          example: CA
        country:
          title: Country
          description: Country name.
          type: string
          minLength: 1
          example: USA
        patientTags:
          type: array
          items:
            $ref: '#/components/schemas/PatientTag'
        lastDeletedPatientTag:
          $ref: '#/components/schemas/PatientTag'
        phoneNumbers:
          title: Phone phoneNumbers
          description: An array of phone numbers.
          type: array
          uniqueItems: true
          minItems: 1
          items:
            $ref: '#/components/schemas/PhoneNumber'
        clinicType:
          type: string
          minLength: 1
          enum:
            - provider_practice
            - healthcare_system
            - veterinary_clinic
            - other
            - researcher
        clinicSize:
          type: string
          enum:
            - 0-249
            - 250-499
            - 500-999
            - 1000+
        name:
          title: Clinic Name
          description: Name of the clinic.
          type: string
          minItems: 1
        shareCode:
          title: Clinic Share Code
          description: 'Globally unique share code for a clinic. The share code is 3 groups of 4 uppercase alphanumeric characters in each group. Ambiguous characters such as `I` and `1`, or `O` and `0` are excluded.'
          type: string
          pattern: '^[ABCDEFGHJKLMNPQRSTUVWXYZ23456789]{4}-[ABCDEFGHJKLMNPQRSTUVWXYZ23456789]{4}-[ABCDEFGHJKLMNPQRSTUVWXYZ23456789]{4}$'
          readOnly: true
        canMigrate:
          type: boolean
          readOnly: true
        website:
          type: string
          format: uri
        createdTime:
          type: string
          format: date-time
          readOnly: true
        updatedTime:
          type: string
          format: date-time
          readOnly: true
        tierDescription:
          type: string
          minLength: 1
          example: Free
          readOnly: true
        tier:
          type: string
          example: tier0100
          minLength: 1
          readOnly: true
        preferredBgUnits:
          type: string
          enum:
            - mg/dL
            - mmol/L
        suppressedNotifications:
          $ref: '#/components/schemas/SuppressedNotifications'
        timezone:
          title: Clinic Timezone
          x-stoplight:
            id: 7htuwravuo8sn
          type: string
          enum:
            - Africa/Abidjan
            - Africa/Accra
            - Africa/Addis_Ababa
            - Africa/Algiers
            - Africa/Asmara
            - Africa/Asmera
            - Africa/Bamako
            - Africa/Bangui
            - Africa/Banjul
            - Africa/Bissau
            - Africa/Blantyre
            - Africa/Brazzaville
            - Africa/Bujumbura
            - Africa/Cairo
            - Africa/Casablanca
            - Africa/Ceuta
            - Africa/Conakry
            - Africa/Dakar
            - Africa/Dar_es_Salaam
            - Africa/Djibouti
            - Africa/Douala
            - Africa/El_Aaiun
            - Africa/Freetown
            - Africa/Gaborone
            - Africa/Harare
            - Africa/Johannesburg
            - Africa/Juba
            - Africa/Kampala
            - Africa/Khartoum
            - Africa/Kigali
            - Africa/Kinshasa
            - Africa/Lagos
            - Africa/Libreville
            - Africa/Lome
            - Africa/Luanda
            - Africa/Lubumbashi
            - Africa/Lusaka
            - Africa/Malabo
            - Africa/Maputo
            - Africa/Maseru
            - Africa/Mbabane
            - Africa/Mogadishu
            - Africa/Monrovia
            - Africa/Nairobi
            - Africa/Ndjamena
            - Africa/Niamey
            - Africa/Nouakchott
            - Africa/Ouagadougou
            - Africa/Porto-Novo
            - Africa/Sao_Tome
            - Africa/Timbuktu
            - Africa/Tripoli
            - Africa/Tunis
            - Africa/Windhoek
            - America/Adak
            - America/Anchorage
            - America/Anguilla
            - America/Antigua
            - America/Araguaina
            - America/Argentina/Buenos_Aires
            - America/Argentina/Catamarca
            - America/Argentina/ComodRivadavia
            - America/Argentina/Cordoba
            - America/Argentina/Jujuy
            - America/Argentina/La_Rioja
            - America/Argentina/Mendoza
            - America/Argentina/Rio_Gallegos
            - America/Argentina/Salta
            - America/Argentina/San_Juan
            - America/Argentina/San_Luis
            - America/Argentina/Tucuman
            - America/Argentina/Ushuaia
            - America/Aruba
            - America/Asuncion
            - America/Atikokan
            - America/Atka
            - America/Bahia
            - America/Bahia_Banderas
            - America/Barbados
            - America/Belem
            - America/Belize
            - America/Blanc-Sablon
            - America/Boa_Vista
            - America/Bogota
            - America/Boise
            - America/Buenos_Aires
            - America/Cambridge_Bay
            - America/Campo_Grande
            - America/Cancun
            - America/Caracas
            - America/Catamarca
            - America/Cayenne
            - America/Cayman
            - America/Chicago
            - America/Chihuahua
            - America/Ciudad_Juarez
            - America/Coral_Harbour
            - America/Cordoba
            - America/Costa_Rica
            - America/Creston
            - America/Cuiaba
            - America/Curacao
            - America/Danmarkshavn
            - America/Dawson
            - America/Dawson_Creek
            - America/Denver
            - America/Detroit
            - America/Dominica
            - America/Edmonton
            - America/Eirunepe
            - America/El_Salvador
            - America/Ensenada
            - America/Fort_Nelson
            - America/Fort_Wayne
            - America/Fortaleza
            - America/Glace_Bay
            - America/Godthab
            - America/Goose_Bay
            - America/Grand_Turk
            - America/Grenada
            - America/Guadeloupe
            - America/Guatemala
            - America/Guayaquil
            - America/Guyana
            - America/Halifax
            - America/Havana
            - America/Hermosillo
            - America/Indiana/Indianapolis
            - America/Indiana/Knox
            - America/Indiana/Marengo
            - America/Indiana/Petersburg
            - America/Indiana/Tell_City
            - America/Indiana/Vevay
            - America/Indiana/Vincennes
            - America/Indiana/Winamac
            - America/Indianapolis
            - America/Inuvik
            - America/Iqaluit
            - America/Jamaica
            - America/Jujuy
            - America/Juneau
            - America/Kentucky/Louisville
            - America/Kentucky/Monticello
            - America/Knox_IN
            - America/Kralendijk
            - America/La_Paz
            - America/Lima
            - America/Los_Angeles
            - America/Louisville
            - America/Lower_Princes
            - America/Maceio
            - America/Managua
            - America/Manaus
            - America/Marigot
            - America/Martinique
            - America/Matamoros
            - America/Mazatlan
            - America/Mendoza
            - America/Menominee
            - America/Merida
            - America/Metlakatla
            - America/Mexico_City
            - America/Miquelon
            - America/Moncton
            - America/Monterrey
            - America/Montevideo
            - America/Montreal
            - America/Montserrat
            - America/Nassau
            - America/New_York
            - America/Nipigon
            - America/Nome
            - America/Noronha
            - America/North_Dakota/Beulah
            - America/North_Dakota/Center
            - America/North_Dakota/New_Salem
            - America/Nuuk
            - America/Ojinaga
            - America/Panama
            - America/Pangnirtung
            - America/Paramaribo
            - America/Phoenix
            - America/Port-au-Prince
            - America/Port_of_Spain
            - America/Porto_Acre
            - America/Porto_Velho
            - America/Puerto_Rico
            - America/Punta_Arenas
            - America/Rainy_River
            - America/Rankin_Inlet
            - America/Recife
            - America/Regina
            - America/Resolute
            - America/Rio_Branco
            - America/Rosario
            - America/Santa_Isabel
            - America/Santarem
            - America/Santiago
            - America/Santo_Domingo
            - America/Sao_Paulo
            - America/Scoresbysund
            - America/Shiprock
            - America/Sitka
            - America/St_Barthelemy
            - America/St_Johns
            - America/St_Kitts
            - America/St_Lucia
            - America/St_Thomas
            - America/St_Vincent
            - America/Swift_Current
            - America/Tegucigalpa
            - America/Thule
            - America/Thunder_Bay
            - America/Tijuana
            - America/Toronto
            - America/Tortola
            - America/Vancouver
            - America/Virgin
            - America/Whitehorse
            - America/Winnipeg
            - America/Yakutat
            - America/Yellowknife
            - Antarctica/Casey
            - Antarctica/Davis
            - Antarctica/DumontDUrville
            - Antarctica/Macquarie
            - Antarctica/Mawson
            - Antarctica/McMurdo
            - Antarctica/Palmer
            - Antarctica/Rothera
            - Antarctica/South_Pole
            - Antarctica/Syowa
            - Antarctica/Troll
            - Antarctica/Vostok
            - Arctic/Longyearbyen
            - Asia/Aden
            - Asia/Almaty
            - Asia/Amman
            - Asia/Anadyr
            - Asia/Aqtau
            - Asia/Aqtobe
            - Asia/Ashgabat
            - Asia/Ashkhabad
            - Asia/Atyrau
            - Asia/Baghdad
            - Asia/Bahrain
            - Asia/Baku
            - Asia/Bangkok
            - Asia/Barnaul
            - Asia/Beirut
            - Asia/Bishkek
            - Asia/Brunei
            - Asia/Calcutta
            - Asia/Chita
            - Asia/Choibalsan
            - Asia/Chongqing
            - Asia/Chungking
            - Asia/Colombo
            - Asia/Dacca
            - Asia/Damascus
            - Asia/Dhaka
            - Asia/Dili
            - Asia/Dubai
            - Asia/Dushanbe
            - Asia/Famagusta
            - Asia/Gaza
            - Asia/Harbin
            - Asia/Hebron
            - Asia/Ho_Chi_Minh
            - Asia/Hong_Kong
            - Asia/Hovd
            - Asia/Irkutsk
            - Asia/Istanbul
            - Asia/Jakarta
            - Asia/Jayapura
            - Asia/Jerusalem
            - Asia/Kabul
            - Asia/Kamchatka
            - Asia/Karachi
            - Asia/Kashgar
            - Asia/Kathmandu
            - Asia/Katmandu
            - Asia/Khandyga
            - Asia/Kolkata
            - Asia/Krasnoyarsk
            - Asia/Kuala_Lumpur
            - Asia/Kuching
            - Asia/Kuwait
            - Asia/Macao
            - Asia/Macau
            - Asia/Magadan
            - Asia/Makassar
            - Asia/Manila
            - Asia/Muscat
            - Asia/Nicosia
            - Asia/Novokuznetsk
            - Asia/Novosibirsk
            - Asia/Omsk
            - Asia/Oral
            - Asia/Phnom_Penh
            - Asia/Pontianak
            - Asia/Pyongyang
            - Asia/Qatar
            - Asia/Qostanay
            - Asia/Qyzylorda
            - Asia/Rangoon
            - Asia/Riyadh
            - Asia/Saigon
            - Asia/Sakhalin
            - Asia/Samarkand
            - Asia/Seoul
            - Asia/Shanghai
            - Asia/Singapore
            - Asia/Srednekolymsk
            - Asia/Taipei
            - Asia/Tashkent
            - Asia/Tbilisi
            - Asia/Tehran
            - Asia/Tel_Aviv
            - Asia/Thimbu
            - Asia/Thimphu
            - Asia/Tokyo
            - Asia/Tomsk
            - Asia/Ujung_Pandang
            - Asia/Ulaanbaatar
            - Asia/Ulan_Bator
            - Asia/Urumqi
            - Asia/Ust-Nera
            - Asia/Vientiane
            - Asia/Vladivostok
            - Asia/Yakutsk
            - Asia/Yangon
            - Asia/Yekaterinburg
            - Asia/Yerevan
            - Atlantic/Azores
            - Atlantic/Bermuda
            - Atlantic/Canary
            - Atlantic/Cape_Verde
            - Atlantic/Faeroe
            - Atlantic/Faroe
            - Atlantic/Jan_Mayen
            - Atlantic/Madeira
            - Atlantic/Reykjavik
            - Atlantic/South_Georgia
            - Atlantic/St_Helena
            - Atlantic/Stanley
            - Australia/ACT
            - Australia/Adelaide
            - Australia/Brisbane
            - Australia/Broken_Hill
            - Australia/Canberra
            - Australia/Currie
            - Australia/Darwin
            - Australia/Eucla
            - Australia/Hobart
            - Australia/LHI
            - Australia/Lindeman
            - Australia/Lord_Howe
            - Australia/Melbourne
            - Australia/NSW
            - Australia/North
            - Australia/Perth
            - Australia/Queensland
            - Australia/South
            - Australia/Sydney
            - Australia/Tasmania
            - Australia/Victoria
            - Australia/West
            - Australia/Yancowinna
            - Brazil/Acre
            - Brazil/DeNoronha
            - Brazil/East
            - Brazil/West
            - CET
            - CST6CDT
            - Canada/Atlantic
            - Canada/Central
            - Canada/Eastern
            - Canada/Mountain
            - Canada/Newfoundland
            - Canada/Pacific
            - Canada/Saskatchewan
            - Canada/Yukon
            - Chile/Continental
            - Chile/EasterIsland
            - Cuba
            - EET
            - EST
            - EST5EDT
            - Egypt
            - Eire
            - Etc/GMT
            - Etc/GMT+0
            - Etc/GMT+1
            - Etc/GMT+10
            - Etc/GMT+11
            - Etc/GMT+12
            - Etc/GMT+2
            - Etc/GMT+3
            - Etc/GMT+4
            - Etc/GMT+5
            - Etc/GMT+6
            - Etc/GMT+7
            - Etc/GMT+8
            - Etc/GMT+9
            - Etc/GMT-0
            - Etc/GMT-1
            - Etc/GMT-10
            - Etc/GMT-11
            - Etc/GMT-12
            - Etc/GMT-13
            - Etc/GMT-14
            - Etc/GMT-2
            - Etc/GMT-3
            - Etc/GMT-4
            - Etc/GMT-5
            - Etc/GMT-6
            - Etc/GMT-7
            - Etc/GMT-8
            - Etc/GMT-9
            - Etc/GMT0
            - Etc/Greenwich
            - Etc/UCT
            - Etc/UTC
            - Etc/Universal
            - Etc/Zulu
            - Europe/Amsterdam
            - Europe/Andorra
            - Europe/Astrakhan
            - Europe/Athens
            - Europe/Belfast
            - Europe/Belgrade
            - Europe/Berlin
            - Europe/Bratislava
            - Europe/Brussels
            - Europe/Bucharest
            - Europe/Budapest
            - Europe/Busingen
            - Europe/Chisinau
            - Europe/Copenhagen
            - Europe/Dublin
            - Europe/Gibraltar
            - Europe/Guernsey
            - Europe/Helsinki
            - Europe/Isle_of_Man
            - Europe/Istanbul
            - Europe/Jersey
            - Europe/Kaliningrad
            - Europe/Kiev
            - Europe/Kirov
            - Europe/Kyiv
            - Europe/Lisbon
            - Europe/Ljubljana
            - Europe/London
            - Europe/Luxembourg
            - Europe/Madrid
            - Europe/Malta
            - Europe/Mariehamn
            - Europe/Minsk
            - Europe/Monaco
            - Europe/Moscow
            - Europe/Nicosia
            - Europe/Oslo
            - Europe/Paris
            - Europe/Podgorica
            - Europe/Prague
            - Europe/Riga
            - Europe/Rome
            - Europe/Samara
            - Europe/San_Marino
            - Europe/Sarajevo
            - Europe/Saratov
            - Europe/Simferopol
            - Europe/Skopje
            - Europe/Sofia
            - Europe/Stockholm
            - Europe/Tallinn
            - Europe/Tirane
            - Europe/Tiraspol
            - Europe/Ulyanovsk
            - Europe/Uzhgorod
            - Europe/Vaduz
            - Europe/Vatican
            - Europe/Vienna
            - Europe/Vilnius
            - Europe/Volgograd
            - Europe/Warsaw
            - Europe/Zagreb
            - Europe/Zaporozhye
            - Europe/Zurich
            - GB
            - GB-Eire
            - GMT
            - GMT+0
            - GMT-0
            - GMT0
            - Greenwich
            - HST
            - Hongkong
            - Iceland
            - Indian/Antananarivo
            - Indian/Chagos
            - Indian/Christmas
            - Indian/Cocos
            - Indian/Comoro
            - Indian/Kerguelen
            - Indian/Mahe
            - Indian/Maldives
            - Indian/Mauritius
            - Indian/Mayotte
            - Indian/Reunion
            - Iran
            - Israel
            - Jamaica
            - Japan
            - Kwajalein
            - Libya
            - MET
            - MST
            - MST7MDT
            - Mexico/BajaNorte
            - Mexico/BajaSur
            - Mexico/General
            - NZ
            - NZ-CHAT
            - Navajo
            - PRC
            - PST8PDT
            - Pacific/Apia
            - Pacific/Auckland
            - Pacific/Bougainville
            - Pacific/Chatham
            - Pacific/Chuuk
            - Pacific/Easter
            - Pacific/Efate
            - Pacific/Enderbury
            - Pacific/Fakaofo
            - Pacific/Fiji
            - Pacific/Funafuti
            - Pacific/Galapagos
            - Pacific/Gambier
            - Pacific/Guadalcanal
            - Pacific/Guam
            - Pacific/Honolulu
            - Pacific/Johnston
            - Pacific/Kanton
            - Pacific/Kiritimati
            - Pacific/Kosrae
            - Pacific/Kwajalein
            - Pacific/Majuro
            - Pacific/Marquesas
            - Pacific/Midway
            - Pacific/Nauru
            - Pacific/Niue
            - Pacific/Norfolk
            - Pacific/Noumea
            - Pacific/Pago_Pago
            - Pacific/Palau
            - Pacific/Pitcairn
            - Pacific/Pohnpei
            - Pacific/Ponape
            - Pacific/Port_Moresby
            - Pacific/Rarotonga
            - Pacific/Saipan
            - Pacific/Samoa
            - Pacific/Tahiti
            - Pacific/Tarawa
            - Pacific/Tongatapu
            - Pacific/Truk
            - Pacific/Wake
            - Pacific/Wallis
            - Pacific/Yap
            - Poland
            - Portugal
            - ROC
            - ROK
            - Singapore
            - Turkey
            - UCT
            - US/Alaska
            - US/Aleutian
            - US/Arizona
            - US/Central
            - US/East-Indiana
            - US/Eastern
            - US/Hawaii
            - US/Indiana-Starke
            - US/Michigan
            - US/Mountain
            - US/Pacific
            - US/Samoa
            - UTC
            - Universal
            - W-SU
            - WET
            - Zulu
      required:
        - id
        - name
        - shareCode
        - canMigrate
        - createdTime
        - updatedTime
        - tierDescription
        - tier
        - preferredBgUnits
    Clinics:
      type: array
      items:
        $ref: '#/components/schemas/Clinic'
    Clinician:
      title: Clinician
      description: The `id` may be empty if the clinician invite has not been accepted.
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TidepoolUserId'
        inviteId:
          type: string
          description: The id of the invite if it hasn't been accepted
        email:
          type: string
          x-go-type: string
          format: email
        name:
          type: string
          description: The name of the clinician
          minLength: 1
        roles:
          $ref: '#/components/schemas/ClinicianRoles'
        createdTime:
          type: string
          format: date-time
          readOnly: true
        updatedTime:
          type: string
          format: date-time
          readOnly: true
      required:
        - email
        - roles
        - createdTime
        - updatedTime
    Clinicians:
      type: array
      items:
        $ref: '#/components/schemas/Clinician'
    Patient:
      type: object
      title: Patient
      description: ''
      properties:
        id:
          $ref: '#/components/schemas/TidepoolUserId'
        email:
          type: string
          x-go-type: string
          format: email
        fullName:
          type: string
          description: The full name of the patient
          minLength: 1
        birthDate:
          type: string
          format: date
          example: '2012-08-30'
        mrn:
          type: string
          description: The medical record number of the patient
          minLength: 1
        tags:
          $ref: '#/components/schemas/PatientTagIds'
        targetDevices:
          type: array
          items:
            type: string
        permissions:
          $ref: '#/components/schemas/PatientPermissions'
        createdTime:
          type: string
          format: date-time
          readOnly: true
        updatedTime:
          type: string
          format: date-time
          readOnly: true
        attestationSubmitted:
          type: boolean
        dataSources:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/DataSource'
        lastRequestedDexcomConnectTime:
          type: string
          format: date-time
          readOnly: true
        lastUploadReminderTime:
          type: string
          format: date-time
          readOnly: true
        summary:
          $ref: '#/components/schemas/PatientSummary'
      required:
        - id
        - fullName
        - birthDate
        - createdTime
        - updatedTime
    Patients:
      type: array
      items:
        $ref: '#/components/schemas/Patient'
    PatientTag:
      type: object
      title: Patient Tag
      description: ''
      properties:
        id:
          title: Object Id
          type: string
          description: String representation of a resource id
          minLength: 24
          maxLength: 24
          pattern: '^[a-f0-9]{24}$'
          readOnly: true
        name:
          type: string
          description: The tag display name
          minLength: 1
          maxLength: 20
          pattern: '^[\p{L}\p{N}_+><-]{1}[\p{L}\p{N}\s_+><-]*$'
      required:
        - id
        - name
    PatientTags:
      type: array
      items:
        $ref: '#/components/schemas/PatientTag'
    DateTime:
      title: Date/Time
      description: '[RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) / [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) timestamp _with_ timezone information'
      type: string
      format: date-time
      example: '2017-02-06T02:37:46Z'
      x-go-type: string
    DataSource:
      type: object
      title: Patient data source
      properties:
        state:
          type: string
          title: Data source connection state
          enum:
            - pending
            - pendingReconnect
            - connected
            - disconnected
            - error
          example: connected
        providerName:
          title: Provider Name
          type: string
          minLength: 1
          maxLength: 100
          example: dexcom
        dataSourceId:
          title: Data Source Object Id
          type: string
          description: String representation of a resource id
          minLength: 24
          maxLength: 24
          pattern: '^[a-f0-9]{24}$'
          readOnly: true
        modifiedTime:
          $ref: '#/components/schemas/DateTime'
        expirationTime:
          $ref: '#/components/schemas/DateTime'
      required:
        - state
        - providerName
    DataSources:
      type: array
      items:
        $ref: '#/components/schemas/DataSource'
    InviteClinician:
      title: Invite Clinician
      type: object
      description: ''
      properties:
        email:
          title: Email Address
          description: 'An email address, as specified by [RFC 5322](https://datatracker.ietf.org/doc/html/rfc5322).'
          type: string
          format: email
          minLength: 6
          example: example@tidepool.org
          x-go-type: string
        roles:
          $ref: '#/components/schemas/ClinicianRoles'
      required:
        - email
        - roles
    TidepoolUserId:
      type: string
      title: Tidepool User ID
      pattern: '^([0-9a-f]{10}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$'
      description: 'String representation of a Tidepool User ID. Old style IDs are 10-digit strings consisting of only hexadeximcal digits. New style IDs are 36-digit [UUID v4](https://en.wikipedia.org/wiki/Universally_unique_identifier#Version_4_(random))'
      readOnly: true
      x-go-type: string
    TidepoolUserIds:
      type: array
      nullable: true
      description: Array of Tidepool User IDs
      items:
        $ref: '#/components/schemas/TidepoolUserId'
      minItems: 1
      maxItems: 1000
      uniqueItems: true
    ClinicianRoles:
      type: array
      title: Clinician Permissions
      minItems: 1
      uniqueItems: true
      items:
        type: string
        enum:
          - CLINIC_ADMIN
          - CLINIC_MEMBER
          - PRESCRIBER
    PhoneNumber:
      title: Phone Number
      type: object
      properties:
        type:
          type: string
          minLength: 1
        number:
          type: string
          minLength: 1
      required:
        - number
      example:
        type: main
        number: +1 (555) 555-1212
    PatientPermissions:
      type: object
      title: Patient Permissions
      properties:
        custodian:
          type: object
        view:
          type: object
        note:
          type: object
        upload:
          type: object
    Id:
      title: Clinic ID
      description: Clinic identifier.
      type: string
      minLength: 24
      maxLength: 24
      pattern: '^[a-f0-9]{24}$'
      readOnly: true
      example: 2fe2488217ee43e1b2e83c2f
    PatientClinicRelationship:
      title: PatientClinicRelationship
      type: object
      properties:
        patient:
          $ref: '#/components/schemas/Patient'
        clinic:
          $ref: '#/components/schemas/Clinic'
      required:
        - patient
        - clinic
    PatientClinicRelationships:
      title: PatientClinicRelationships
      type: array
      items:
        $ref: '#/components/schemas/PatientClinicRelationship'
    CreatePatient:
      title: Create Patient
      type: object
      properties:
        permissions:
          $ref: '#/components/schemas/PatientPermissions'
        isMigrated:
          type: boolean
        legacyClinicianId:
          $ref: '#/components/schemas/TidepoolUserId'
        attestationSubmitted:
          type: boolean
        fullName:
          type: string
          description: The full name of the patient
          minLength: 1
        birthDate:
          type: string
          format: date
          example: '2012-08-30'
        mrn:
          type: string
          description: The medical record number of the patient
          minLength: 1
        tags:
          $ref: '#/components/schemas/PatientTagIds'
    AssociateClinicianToUser:
      title: Associate Clinician
      type: object
      properties:
        userId:
          type: string
      required:
        - userId
    ClinicianClinicRelationship:
      title: ClinicianClinicRelationship
      type: object
      properties:
        clinician:
          $ref: '#/components/schemas/Clinician'
        clinic:
          $ref: '#/components/schemas/Clinic'
      required:
        - clinician
        - clinic
    ClinicianClinicRelationships:
      title: ClinicianClinicRelationships
      type: array
      items:
        $ref: '#/components/schemas/ClinicianClinicRelationship'
    Migration:
      title: Migration
      type: object
      properties:
        userId:
          type: string
          description: The user id of the legacy clinician account that needs to be migrated.
          minLength: 1
        status:
          $ref: '#/components/schemas/MigrationStatus'
        createdTime:
          type: string
          format: date-time
          readOnly: true
        updatedTime:
          type: string
          format: date-time
          readOnly: true
        attestationTime:
          type: string
          format: date-time
          readOnly: true
      required:
        - userId
        - createdTime
        - updatedTime
    Migrations:
      title: Migrations
      type: array
      items:
        $ref: '#/components/schemas/Migration'
    MigrationUpdate:
      title: MigrationUpdate
      type: object
      properties:
        status:
          $ref: '#/components/schemas/MigrationStatus'
      required:
        - status
    MigrationStatus:
      type: string
      title: Migration Status
      enum:
        - PENDING
        - RUNNING
        - COMPLETED
      description: The current status of the migration
    Meta:
      title: Meta
      type: object
      properties:
        count:
          type: integer
    PatientsResponse:
      title: PatientsResponse
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Patients'
        meta:
          $ref: '#/components/schemas/Meta'
    Tide:
      type: object
      title: tide.v1
      description: Report of at-risk patients based on specific grouping criteria
      properties:
        config:
          $ref: '#/components/schemas/TideConfig'
        results:
          $ref: '#/components/schemas/TideResults'
      required:
        - config
        - results
    TideResponse:
      $ref: '#/components/schemas/Tide'
    UpdateUserDetails:
      title: UpdateUserDetails
      type: object
      properties:
        email:
          type: string
          format: email
          minLength: 1
    TriggerMigration:
      title: TriggerMigration
      type: object
      properties:
        attestationSubmitted:
          type: boolean
    PatientTagIds:
      type: array
      title: Patient Tag ID List
      uniqueItems: true
      nullable: true
      items:
        title: Patient Tag ID
        description: Patient Tag identifier.
        type: string
        minLength: 24
        maxLength: 24
        pattern: '^[a-f0-9]{24}$'
        readOnly: true
    TideConfig:
      type: object
      title: tideconfig.v1
      description: ''
      properties:
        schemaVersion:
          description: TIDE schema version
          type: number
          x-go-type: int
        clinicId:
          $ref: '#/components/schemas/Id'
        period:
          type: string
          pattern: ^(1d|7d|14d|30d)$
          example: 7d
        lastUploadDateFrom:
          type: string
          format: date-time
        lastUploadDateTo:
          type: string
          format: date-time
        highGlucoseThreshold:
          description: Threshold used for determining if a value is high
          type: number
          x-go-type: float64
        veryHighGlucoseThreshold:
          description: Threshold used for determining if a value is very high
          type: number
          x-go-type: float64
        lowGlucoseThreshold:
          description: Threshold used for determining if a value is low
          type: number
          x-go-type: float64
        veryLowGlucoseThreshold:
          description: Threshold used for determining if a value is very low
          type: number
          x-go-type: float64
        tags:
          $ref: '#/components/schemas/PatientTagIds'
        filters:
          $ref: '#/components/schemas/TideFilters'
      required:
        - schemaVersion
        - clinicId
        - period
        - lastUploadDateFrom
        - lastUploadDateTo
        - highGlucoseThreshold
        - veryHighGlucoseThreshold
        - lowGlucoseThreshold
        - veryLowGlucoseThreshold
        - tags
        - filters
    TideFilters:
      type: object
      title: tidefilters.v1
      description: ''
      properties:
        timeInVeryLowPercent:
          type: string
          pattern: ^(>=|>|<=|<)\d\.\d\d?$
          example: '>0.5'
        timeInAnyLowPercent:
          type: string
          pattern: ^(>=|>|<=|<)\d\.\d\d?$
          example: '>0.5'
        dropInTimeInTargetPercent:
          type: string
          pattern: ^(>=|>|<=|<)\d\.\d\d?$
          example: '>0.5'
        timeInTargetPercent:
          type: string
          pattern: ^(>=|>|<=|<)\d\.\d\d?$
          example: '>0.5'
        timeCGMUsePercent:
          type: string
          pattern: ^(>=|>|<=|<)\d\.\d\d?$
          example: '>0.5'
      required:
        - timeInVeryLowPercent
        - timeInAnyLowPercent
        - dropInTimeInTargetPercent
        - timeInTargetPercent
        - timeCGMUsePercent
    TidePatient:
      type: object
      title: tidepatient.v1
      description: ''
      properties:
        id:
          $ref: '#/components/schemas/TidepoolUserId'
        email:
          type: string
          x-go-type: string
          format: email
        fullName:
          type: string
          description: The full name of the patient
          minLength: 1
        tags:
          $ref: '#/components/schemas/PatientTagIds'
      required:
        - id
        - tags
    TideResultPatient:
      type: object
      title: tideresultpatient.v1
      description: ''
      properties:
        averageGlucoseMmol:
          description: Average Glucose of records in this period
          type: number
          example: 5.5
          x-go-type: float64
        glucoseManagementIndicator:
          type: number
          x-go-type: float64
          description: A derived value which emulates A1C
          example: 7.5
        timeInVeryLowPercent:
          description: Percentage of time spent in very low glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInAnyLowPercent:
          description: Percentage of time spent in any low glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInLowPercent:
          description: Percentage of time spent in low glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInTargetPercentDelta:
          description: Difference between the timeInTargetPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        timeInHighPercent:
          description: Percentage of time spent in high glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInVeryHighPercent:
          description: Percentage of time spent in very high glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInAnyHighPercent:
          description: Percentage of time spent in any high glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInTargetPercent:
          description: Percentage of time spent in target glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeCGMUsePercent:
          description: Percentage of time spent wearing a cgm
          type: number
          example: 0.35
          x-go-type: float64
        timeCGMUseMinutes:
          description: Counter of minutes spent wearing a cgm
          type: number
          example: 200
          x-go-type: int
        patient:
          $ref: '#/components/schemas/TidePatient'
      required:
        - patient
    TideResults:
      type: object
      title: tideresults.v1
      description: ''
      required:
        - timeInVeryLowPercent
        - timeInLowPercent
        - dropInTimeInTargetPercent
        - timeInTargetPercent
        - timeCGMUsePercent
        - meetingTargets
      additionalProperties:
        type: array
        items:
          $ref: '#/components/schemas/TideResultPatient'
    PatientBGMPeriod:
      type: object
      title: bgmperiod.v1
      description: 'Summary of a specific BGM time period (currently: 1d, 7d, 14d, 30d)'
      properties:
        hasAverageGlucoseMmol:
          type: boolean
        averageGlucoseMmol:
          description: Average Glucose of records in this period
          type: number
          example: 5.5
          x-go-type: float64
        averageGlucoseMmolDelta:
          description: Difference between the averageGlucose in this period and the other offset version
          type: number
          example: 2.5
          x-go-type: float64
        hasTimeInTargetPercent:
          type: boolean
        timeInTargetPercent:
          description: Percentage of time spent in target glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInTargetPercentDelta:
          description: Difference between the timeInTargetPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInTargetRecords:
          type: boolean
        timeInTargetRecords:
          description: Counter of records in target glucose range
          type: number
          example: 10
          x-go-type: int
        timeInTargetRecordsDelta:
          description: Difference between the timeInTargetRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInHighPercent:
          type: boolean
        timeInHighPercent:
          description: Percentage of time spent in high glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInHighPercentDelta:
          description: Difference between the timeInHighPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInHighRecords:
          type: boolean
        timeInHighRecords:
          description: Counter of records in high glucose range
          type: number
          example: 10
          x-go-type: int
        timeInHighRecordsDelta:
          description: Difference between the timeInHighRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInVeryHighPercent:
          type: boolean
        timeInVeryHighPercent:
          description: Percentage of time spent in very high glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInVeryHighPercentDelta:
          description: Difference between the timeInVeryHighPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInVeryHighRecords:
          type: boolean
        timeInVeryHighRecords:
          description: Counter of records in very high glucose range
          type: number
          example: 10
          x-go-type: int
        timeInVeryHighRecordsDelta:
          description: Difference between the timeInVeryHighRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInAnyHighPercent:
          type: boolean
        timeInAnyHighPercent:
          description: Percentage of time spent in Any high glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInAnyHighPercentDelta:
          description: Difference between the timeInAnyHighPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInAnyHighRecords:
          type: boolean
        timeInAnyHighRecords:
          description: Counter of records in Any high glucose range
          type: number
          example: 10
          x-go-type: int
        timeInAnyHighRecordsDelta:
          description: Difference between the timeInAnyHighRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInLowPercent:
          type: boolean
        timeInLowPercent:
          description: Percentage of time spent in low glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInLowPercentDelta:
          description: Difference between the timeInLowPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInLowRecords:
          type: boolean
        timeInLowRecords:
          description: Counter of records in low glucose range
          type: number
          example: 10
          x-go-type: int
        timeInLowRecordsDelta:
          description: Difference between the timeInLowRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInVeryLowPercent:
          type: boolean
        timeInVeryLowPercent:
          description: Percentage of time spent in very low glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInVeryLowPercentDelta:
          description: Difference between the timeInVeryLowPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInVeryLowRecords:
          type: boolean
        timeInVeryLowRecords:
          description: Counter of records in very low glucose range
          type: number
          example: 10
          x-go-type: int
        timeInVeryLowRecordsDelta:
          description: Difference between the timeInVeryLowRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInAnyLowPercent:
          type: boolean
        timeInAnyLowPercent:
          description: Percentage of time spent in Any low glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInAnyLowPercentDelta:
          description: Difference between the timeInAnyLowPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInAnyLowRecords:
          type: boolean
        timeInAnyLowRecords:
          description: Counter of records in Any low glucose range
          type: number
          example: 10
          x-go-type: int
        timeInAnyLowRecordsDelta:
          description: Difference between the timeInAnyLowRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTotalRecords:
          type: boolean
        totalRecords:
          description: Counter of records
          type: number
          example: 10
          x-go-type: int
        totalRecordsDelta:
          description: Difference between the totalRecords in this period and version in the opposite offset
          type: number
          example: 10
          x-go-type: int
        hasAverageDailyRecords:
          type: boolean
        averageDailyRecords:
          description: Average daily readings
          type: number
          example: 3.5
          x-go-type: float64
        averageDailyRecordsDelta:
[...]
