openapi: 3.0.0
info:
  title: Clinics API
  version: '1.0'
  description: Web service that stores information about clinics, clinicians and their patients
  contact:
    name: Tidepool
    url: https://www.tidepool.org
    email: support@tidepool.org
  license:
    name: BSD-2-Clause
    url: https://github.com/tidepool-org/clinic/blob/master/LICENSE
  x-tidepool-service: https://github.com/tidepool-org/clinic/
servers:
  - url: https://external.integration.tidepool.org
    description: integration
  - url: https://api.tidepool.org
    description: production
  - url: https://dev1.dev.tidepool.org
    description: dev1
  - url: https://qa1.development.tidepool.org
    description: qa1
  - url: https://qa2.development.tidepool.org
    description: qa2
security:
  - sessionToken: []
tags:
  - name: Clinics
    description: Manage clinics, clinians and patients.
  - name: Confirmations
    description: Manage confirmations for account creation, sharing invites, etc.
  - name: Internal
    description: APIs intended for internal use by Tidepool.
  - name: Redox
    description: Public endpoints invoked by Redox.
paths:
  /v1/clinics:
    get:
      summary: List Clinics
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clinics.v1'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.v1'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.v1'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.v1'
      operationId: ListClinics
      description: Retrieve the list of clinics
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/shareCode'
        - $ref: '#/components/parameters/createdTimeStart'
        - $ref: '#/components/parameters/createdTimeEnd'
        - $ref: '#/components/parameters/ehrEnabled'
      x-roles:
        - TIDEPOOL_ADMIN
        - CLINIC_ADMIN
        - CLINIC_CLINICIAN
    parameters: []
    post:
      summary: Create Clinic
      operationId: CreateClinic
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clinic.v1'
            application/xml:
              schema:
                type: object
                properties: {}
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/clinic.v1'
      description: Create a new clinic
      x-roles: []
      tags:
        - Clinics
      parameters: []
  /v1/clinics/share_code/{shareCode}:
    parameters:
      - schema:
          type: string
          minLength: 1
        name: shareCode
        in: path
        required: true
    get:
      summary: Get Clinic by Share Code
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clinic.v1'
      operationId: GetClinicByShareCode
      description: Retrieve a clinic object with a share code
  /v1/clinics/{clinicId}:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    get:
      summary: Get Clinic
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clinic.v1'
          links:
            get-clinicians:
              operationId: get-clinics-clinicid-clinicians
              parameters:
                clinicid: $request.query.clinicid
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      operationId: GetClinic
      description: Retrieve a clinic by id
      x-roles:
        - TIDEPOOL_ADMIN
        - CLINIC_ADMIN
        - CLINIC_CLINICIAN
      parameters: []
    put:
      summary: Update Clinic
      operationId: UpdateClinic
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clinic.v1'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      description: Update an existing clinic
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/clinic.v1'
          application/xml:
            schema:
              type: object
              properties: {}
        description: ''
      security:
        - sessionToken: []
      x-roles:
        - TIDEPOOL_ADMIN
        - CLINIC_ADMIN
      tags:
        - Clinics
    delete:
      summary: Delete Clinic
      operationId: DeleteClinic
      responses:
        '204':
          description: No Content
      description: Deletes a clinic if there are no connected patient accounts (besides demo accounts).
      tags:
        - Clinics
  /v1/clinics/{clinicId}/clinicians:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    get:
      summary: List Clinicians
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clinicians.v1'
      operationId: ListClinicians
      description: 'Retrieve the list of clinic members. '
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/email'
        - $ref: '#/components/parameters/role'
    post:
      summary: Create Clinician
      operationId: CreateClinician
      responses:
        '200':
          description: OK
      description: Internal endpoint to create a new clinician
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/clinician.v1'
      tags:
        - Clinics
  /v1/clinics/{clinicId}/tide_report:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    get:
      summary: View TIDE Report
      description: Retrieve a report of patients with tags by TIDE categories
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tideResponse.v1'
      operationId: TideReport
      parameters:
        - schema:
            type: string
            pattern: ^(1d|7d|14d|30d)$
            example: 7d
          in: query
          name: period
          description: Time Period to display
        - schema:
            type: array
            items:
              type: string
              format: ^[a-f0-9]{24}$
          in: query
          name: tags
          description: Comma-separated list of patient tag IDs
          style: form
          explode: false
        - schema:
            type: string
            format: date-time
          in: query
          name: lastDataCutoff
          description: Inclusive
  /v1/clinics/{clinicId}/patients:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    get:
      summary: List Patients
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patientsResponse.v1'
      operationId: ListPatients
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
        - schema:
            type: string
            pattern: ^(cgm|bgm)$
            example: cgm
          in: query
          name: sortType
          description: Summary type to sort by
        - schema:
            type: string
            pattern: ^(1d|7d|14d|30d)$
            example: 7d
          in: query
          name: period
          description: Time Period to display, filter, and sort
        - schema:
            type: string
            format: date-time
          in: query
          name: lastReviewed
          description: Inclusive
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.max
          description: Max glucose value in mmol/L
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.min
          description: Min glucose value in mmol/L
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.averageGlucoseMmol
          description: Average glucose value of records in mmol/L
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.glucoseManagementIndicator
          description: Glucose management Indicator of records
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.timeCGMUsePercent
          description: Percentage of time [0.0-1.0]  of CGM use
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.timeInVeryLowPercent
          description: Percentage of time [0.0-1.0]  below 54 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.timeInAnyLowPercent
          description: Percentage of time [0.0-1.0]  below 70 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.timeInLowPercent
          description: Percentage of time [0.0-1.0]  in range 54-70 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.timeInTargetPercent
          description: Percentage of time [0.0-1.0]  in range 70-180 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.timeInHighPercent
          description: Percentage of time [0.0-1.0]  in range 180-250 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.timeInVeryHighPercent
          description: Percentage of time [0.0-1.0]  above 250 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.timeInExtremeHighPercent
          description: Percentage of time [0.0-1.0]  above 350 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.timeInAnyHighPercent
          description: Percentage of time [0.0-1.0]  above 180 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeCGMUseMinutes
          description: Minutes of CGM use
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInVeryLowMinutes
          description: Minutes below 54 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInAnyLowMinutes
          description: Minutes below 70 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInLowMinutes
          description: Minutes in range 54-70 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInTargetMinutes
          description: Minutes in range 70-180 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInHighMinutes
          description: Minutes in range 180-250 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInVeryHighMinutes
          description: Minutes above 250 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInExtremeHighMinutes
          description: Minutes above 350 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInAnyHighMinutes
          description: Minutes above 180 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeCGMUseRecords
          description: Records of CGM use
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInVeryLowRecords
          description: Records below 54 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInAnyLowRecords
          description: Records below 70 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInLowRecords
          description: Records in range 54-70 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInTargetRecords
          description: Records in range 70-180 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInHighRecords
          description: Records in range 180-250 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInVeryHighRecords
          description: Records above 250 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInAnyHighRecords
          description: Records above 180 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.averageDailyRecords
          description: Average records per day
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.totalRecords
          description: Total records in period
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.hoursWithData
          description: Total hours with data in period
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.daysWithData
          description: Total days with data in period
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.standardDeviation
          description: Standard deviation of glucose values in mmol/L
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.coefficientOfVariation
          description: Coefficient Of Variation of glucose values in mmol/L
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.max
          description: Max glucose value in mmol/L
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.min
          description: Min glucose value in mmol/L
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.averageGlucoseMmol
          description: Average glucose value of records in mmol/L
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.timeInVeryLowPercent
          description: Percentage of time [0.0-1.0]  below 54 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.timeInAnyLowPercent
          description: Percentage of time [0.0-1.0]  below 70 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.timeInLowPercent
          description: Percentage of time [0.0-1.0]  in range 54-70 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.timeInTargetPercent
          description: Percentage of time [0.0-1.0]  in range 70-180 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.timeInHighPercent
          description: Percentage of time [0.0-1.0]  in range 180-250 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.timeInVeryHighPercent
          description: Percentage of time [0.0-1.0]  above 250 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.timeInExtremeHighPercent
          description: Percentage of time [0.0-1.0]  above 350 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.timeInAnyHighPercent
          description: Percentage of time [0.0-1.0]  above 180 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: bgm.timeInVeryLowRecords
          description: Records below 54 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: bgm.timeInAnyLowRecords
          description: Records below 70 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: bgm.timeInLowRecords
          description: Records in range 54-70 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: bgm.timeInTargetRecords
          description: Records in range 70-180 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: bgm.timeInHighRecords
          description: Records in range 180-250 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: bgm.timeInVeryHighRecords
          description: Records above 250 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: bgm.timeInAnyHighRecords
          description: Records above 180 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.averageDailyRecords
          description: Average records per day
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: bgm.totalRecords
          description: Total records in period
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.maxDelta
          description: Delta of Max glucose value in mmol/L
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.minDelta
          description: Delta of Min glucose value in mmol/L
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.averageGlucoseMmolDelta
          description: Delta of average glucose value in mmol/L
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.glucoseManagementIndicatorDelta
          description: Glucose management Indicator of records
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.timeCGMUsePercentDelta
          description: Delta of time of CGM use
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.timeInVeryLowPercentDelta
          description: Delta of time below 54 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.timeInAnyLowPercentDelta
          description: Delta of time below 70 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.timeInLowPercentDelta
          description: Delta of time in range 54-70 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.timeInTargetPercentDelta
          description: Delta of time in range 70-180 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.timeInHighPercentDelta
          description: Delta of time in range 180-250 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.timeInVeryHighPercentDelta
          description: Delta of time above 250 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.timeInExtremeHighPercentDelta
          description: Delta of time above 350 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.timeInAnyHighPercentDelta
          description: Delta of time above 180 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeCGMUseMinutesDelta
          description: Delta of minutes of CGM use
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInVeryLowMinutesDelta
          description: Delta of minutes below 54 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInAnyLowMinutesDelta
          description: Delta of minutes below 70 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInLowMinutesDelta
          description: Delta of minutes in range 54-70 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInTargetMinutesDelta
          description: Delta of minutes in range 70-180 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInHighMinutesDelta
          description: Delta of minutes in range 180-250 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInVeryHighMinutesDelta
          description: Delta of minutes above 250 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInExtremeHighMinutesDelta
          description: Delta of minutes above 350 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInAnyHighMinutesDelta
          description: Delta of minutes above 180 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeCGMUseRecordsDelta
          description: Delta of records count
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInVeryLowRecordsDelta
          description: Delta of records below 54 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInAnyLowRecordsDelta
          description: Delta of records below 70 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInLowRecordsDelta
          description: Delta of records in range 54-70 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInTargetRecordsDelta
          description: Delta of records in range 70-180 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInHighRecordsDelta
          description: Delta of records in range 180-250 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInVeryHighRecordsDelta
          description: Delta of records above 250 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.timeInAnyHighRecordsDelta
          description: Delta of records above 180 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.averageDailyRecordsDelta
          description: Delta of average records per day
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.totalRecordsDelta
          description: Delta of total records
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.hoursWithDataDelta
          description: Delta of total hours with data
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: cgm.daysWithDataDelta
          description: Delta of total days with data
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.standardDeviationDelta
          description: Delta of the standard deviation of glucose values in mmol/L
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: cgm.coefficientOfVariationDelta
          description: Delta of the coefficient of glucose values in mmol/L
        - schema:
            type: string
            format: date-time
          in: query
          name: cgm.lastDataFrom
          description: Inclusive
        - schema:
            type: string
            format: date-time
          in: query
          name: cgm.lastDataTo
          description: Exclusive
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.maxDelta
          description: Delta of Max glucose value in mmol/L
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.minDelta
          description: Delta of Min glucose value in mmol/L
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.averageGlucoseMmolDelta
          description: Delta of the average glucose values in mmol/L
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.timeInVeryLowPercentDelta
          description: Delta of time below 54 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.timeInAnyLowPercentDelta
          description: Delta of time below 70 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.timeInLowPercentDelta
          description: Delta of time in range 54-70 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.timeInTargetPercentDelta
          description: Delta of time in range 70-180 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.timeInHighPercentDelta
          description: Delta of time in range 180-250 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.timeInVeryHighPercentDelta
          description: Delta of time above 250 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.timeInExtremeHighPercentDelta
          description: Delta of time above 350 mg/dL
        - schema:
            $ref: '#/components/schemas/FloatFilter'
          in: query
          name: bgm.timeInAnyHighPercentDelta
          description: Delta of time above 180 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: bgm.timeInVeryLowRecordsDelta
          description: Delta of records below 54 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: bgm.timeInAnyLowRecordsDelta
          description: Delta of records below 70 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: bgm.timeInLowRecordsDelta
          description: Delta of records in range 54-70 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: bgm.timeInTargetRecordsDelta
          description: Delta of records in range 70-180 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: bgm.timeInHighRecordsDelta
          description: Delta of records in range 180-250 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: bgm.timeInVeryHighRecordsDelta
          description: Delta of records above 250 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: bgm.timeInAnyHighRecordsDelta
          description: Delta of records above 180 mg/dL
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: bgm.averageDailyRecordsDelta
          description: Delta of average records per day
        - schema:
            $ref: '#/components/schemas/IntFilter'
          in: query
          name: bgm.totalRecordsDelta
          description: Delta of total record count
        - schema:
            type: string
            format: date-time
          in: query
          name: bgm.lastDataFrom
          description: Inclusive
        - schema:
            type: string
            format: date-time
          in: query
          name: bgm.lastDataTo
          description: Exclusive
        - schema:
            type: array
            items:
              type: string
              format: ^[a-f0-9]{24}$
          in: query
          name: tags
          description: Comma-separated list of patient tag IDs
          style: form
          explode: false
        - name: sites
          schema:
            type: array
            items:
              type: string
              format: ^[a-f0-9]{24}$
          in: query
          description: Comma-separated list of clinic site IDs
          style: form
          explode: false
      description: Retrieve a list of patients of a clinic
    post:
      summary: Create Patient Account
      operationId: CreatePatientAccount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patient.v1'
      description: Create a custodial account for a patient
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patient.v1'
      tags:
        - Clinics
  /v1/clinics/{clinicId}/patient_tags:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    post:
      summary: Create Patient Tag
      operationId: CreatePatientTag
      responses:
        '200':
          description: The newly-created patient tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patientTag.v1'
      description: Create a new patient tag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patientTag.v1'
      tags:
        - Clinics
  /v1/clinics/{clinicId}/sites:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    post:
      summary: Create a Site
      operationId: CreateSite
      responses:
        '200':
          description: The newly-created clinic site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/site.v1'
      description: Create a Site
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/siteCreation.v1'
      tags:
        - Clinics
  /v1/clinics/{clinicId}/sites/{siteId}:
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/siteId'
    put:
      summary: Update a Site
      operationId: UpdateSite
      responses:
        '200':
          description: The updated clinic site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/site.v1'
      description: Update a Site
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/site.v1'
      tags:
        - Clinics
    delete:
      summary: Delete a Site
      operationId: DeleteSite
      responses:
        '204':
          description: No content
      description: Delete a Site
      tags:
        - Clinics
  /v1/clinics/{clinicId}/sites/{siteId}/merge:
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/siteId'
    post:
      summary: Merge two sites
      operationId: MergeSite
      responses:
        '200':
          description: The merged clinic site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/site.v1'
      description: Merge a site, identified in the request body, into the site identified in the URL.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/site.v1'
      tags:
        - Clinics
  /v1/clinics/{clinicId}/clinicians/{clinicianId}:
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/clinicianId'
    get:
      summary: Get Clinician
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clinician.v1'
      operationId: GetClinician
      description: Retrieve a member of clinic given their user id
    put:
      summary: Update Clinician
      operationId: UpdateClinician
      responses:
        '200':
          description: OK
      description: Update existing clinician
      tags:
        - Clinics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/clinician.v1'
    delete:
      summary: Delete Clinician
      operationId: DeleteClinician
      responses:
        '200':
          description: OK
      description: Removes a clinician from a clinic
      tags:
        - Clinics
  /v1/clinics/{clinicId}/patients/{patientId}:
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/patientId'
    get:
      summary: Get Patient
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patient.v1'
      operationId: GetPatient
      description: Retrieve a patient of clinic given their user id
    post:
      summary: Create Patient from Existing User
      operationId: CreatePatientFromUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patient.v1'
      description: Internal endpoint for creating a patient from an existing user
      tags:
        - Clinics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPatient.v1'
    put:
      summary: Update Patient
      operationId: UpdatePatient
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patient.v1'
      description: Update existing patient of a clinic
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patient.v1'
      tags:
        - Clinics
    delete:
      summary: Delete Patient
      operationId: DeletePatient
      responses:
        '204':
          description: No Content
      description: Deletes patient from a clinic. Requires the request to be made by a clinic admin or the currently authenticated user id to match the patient id.
      tags:
        - Clinics
  /v1/clinics/{clinicId}/patient_tags/{patientTagId}:
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/patientTagId'
    put:
      summary: Update Patient Tag
      operationId: UpdatePatientTag
      responses:
        '200':
          description: The updated patient tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patientTag.v1'
      description: Update existing patient tag
      tags:
        - Clinics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patientTag.v1'
    delete:
      summary: Delete Patient Tag
      operationId: DeletePatientTag
      responses:
        '204':
          description: No content
      description: Removes a patient tag from a clinic and tagged patients
      tags:
        - Clinics
  /v1/clinics/{clinicId}/patient_tags/{patientTagId}/site:
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/patientTagId'
    post:
      summary: Convert Patient Tag to Site
      operationId: ConvertPatientTagToSite
      responses:
        '200':
          description: The newly converted site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/site.v1'
        '409':
          description: Cannot convert the tag to a site. This could occur for example when the maximum number of sites has already been reached.
      description: Convert a patient tag to a site.
      tags:
        - Clinics
  /v1/clinics/{clinicId}/invites/clinicians:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    post:
      summary: Invite Clinician
      operationId: InviteClinician
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clinician.v1'
      description: Send an invite to clinician's email address to join a clinic.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inviteClinician.v1'
      tags:
        - Clinics
        - Confirmations
  /v1/clinics/{clinicId}/invites/clinicians/{inviteId}:
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/inviteId'
    patch:
      summary: Resend Clinician Invite
      operationId: ResendInvite
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/confirmation.v1'
      description: Resend invite to the email address of the clinician.
      tags:
        - Clinics
        - Confirmations
    delete:
      summary: Delete Invite
      operationId: DeleteInvite
      responses:
        '200':
          description: OK
      description: Deletes unaccepted invite
      tags:
        - Clinics
        - Confirmations
    get:
      summary: Get Clinician Invite
      operationId: GetClinicianInvite
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/confirmation.v1'
      description: Retrieve an invitation sent to clinician to join the clinic
      tags:
        - Confirmations
  /v1/clinics/{clinicId}/invites/clinicians/{inviteId}/clinician:
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/inviteId'
    patch:
      summary: Associate Clinician to User
      operationId: AssociateClinicianToUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clinician.v1'
      description: Internal endpoint to associate a clinician to a user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/associateClinicianToUser.v1'
      tags:
        - Clinics
    delete:
      summary: Delete Invited Clinician
      operationId: DeleteInvitedClinician
      responses:
        '200':
          description: OK
      description: Internal endpoint to delete an invited clinician object
      tags:
        - Clinics
    get:
      summary: Get Invited Clinician
      operationId: GetInvitedClinician
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clinician.v1'
      description: Internal endpoint to retrieve invited clinician.
      tags:
        - Clinics
  /v1/clinics/{clinicId}/invites/patients:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    get:
      summary: Get Patient Invites
      tags:
        - Clinics
        - Confirmations
      responses:
        '200':
          description: OK
      operationId: GetPatientInvites
      description: Retrieve the list of all pending invites from users who would like to share their accounts with the clinic and become patients.
  /v1/clinics/{clinicId}/invites/patients/{inviteId}:
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/inviteId'
    put:
      summary: Accept Patient Invitation
      operationId: AcceptPatientInvitation
      responses:
        '200':
          description: OK
      description: Accept a pending invite from a user who would like to share their account with the clinic and become a patient.
      tags:
        - Clinics
        - Confirmations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptPatientInvitation'
  /v1/clinics/{clinicId}/patients/{patientId}/reviews:
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/patientId'
    put:
      summary: Update Patient Reviews
      operationId: UpdatePatientReviews
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patientReviews.v1'
      description: Update the patient's last reviewed date and clinician ID
      tags:
        - Clinics
    delete:
      summary: Delete Patient Reviews
      operationId: DeletePatientReviews
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patientReviews.v1'
        '404':
          description: No review to delete
        '409':
          description: Cannot revert a different clinician's review
      description: Revert the patient's last reviewed date to the previous set
      tags:
        - Clinics
  /v1/clinics/{clinicId}/patients/{patientId}/permissions:
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/patientId'
    put:
      summary: Update Patient Permissions
      operationId: UpdatePatientPermissions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patientPermissions.v1'
      description: |-
        Update permissions that a clinic has over a patient account. If all permissions are revoked as a result of the update, the patient profile will be removed from the clinic.

        Only patients can change the permissions.
      tags:
        - Clinics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patientPermissions.v1'
      parameters: []
  /v1/clinics/{clinicId}/patients/{patientId}/permissions/{permission}:
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/patientId'
      - schema:
          type: string
          enum:
            - custodian
            - view
            - upload
            - note
        name: permission
        in: path
        required: true
    delete:
      summary: Delete Patient Permission
      operationId: DeletePatientPermission
      description: |-
        Remove a single permission that a clinic has over a patient account. If all permissions are revoked as a result of the update, the patient profile will be removed from the clinic.

        Only patients can change the permissions.
      tags:
        - Clinics
      parameters: []
      responses:
        '204':
          description: No Content
  /v1/patients/{userId}/clinics:
    parameters:
      - $ref: '#/components/parameters/userId'
    get:
      summary: List Clinics for Patient
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patientClinicRelationships.v1'
      operationId: ListClinicsForPatient
      description: Get all clinics a user is a patient of
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
  /v1/clinicians/{userId}/invites:
    parameters:
      - $ref: '#/components/parameters/userId'
    get:
      summary: List Clinician Invites
      tags:
        - Clinics
        - Confirmations
      responses:
        '200':
          description: OK
      operationId: ListClinicianInvites
      description: Retrieve a list of the outstanding invites to join a clinic
  /v1/clinicians/{userId}/invites/{inviteId}:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/inviteId'
    delete:
      summary: Dismiss Clinician Invite
      operationId: DismissClinicianInvite
      responses:
        '200':
          description: OK
      tags:
        - Clinics
        - Confirmations
      description: Dismisses an invite sent from a clinic to clinician
    put:
      summary: Accept Clinician Invite
      operationId: AcceptClinicianInvite
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clinician.v1'
      description: Accept an invite to join a clinic as clinician. The clinician will be associated to the currently authenticated user if the email in their profile matches the email of the invite.
      tags:
        - Clinics
        - Confirmations
  /v1/clinicians/{userId}/clinics:
    parameters:
      - $ref: '#/components/parameters/userId'
    get:
      summary: List Clinics for Clinician
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clinicianClinicRelationships.v1'
      operationId: ListClinicsForClinician
      description: Returns a list of all clinics a clinician is a member of
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
  /v1/clinics/{clinicId}/migrations:
    parameters:
      - schema:
          type: string
        name: clinicId
        in: path
        required: true
    post:
      summary: Migrate Legacy Clinician Patients
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/migration.v1'
      operationId: MigrateLegacyClinicianPatients
      tags:
        - Clinics
        - Internal
      description: 'Migrate the patients of a legacy clinic account. '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/migration.v1'
    get:
      summary: Retrieve Migration Status
      operationId: ListMigrations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/migrations.v1'
      description: ListMigrations
      tags:
        - Clinics
        - Internal
  /v1/clinicians/{userId}/migrate:
    parameters:
      - schema:
          type: string
        name: userId
        in: path
        required: true
    post:
      summary: Enable Clinics
      tags:
        - Clinics
        - Internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clinic.v1'
      operationId: EnableNewClinicExperience
      description: Internal only endpoint to enable new clinic experience for a legacy clinician account. Patients won't be migrated until the clinic details are populated and migration is explicitly kicked-off by blip.
  /v1/clinics/{clinicId}/migrate:
    parameters:
      - schema:
          type: string
        name: clinicId
        in: path
        required: true
    post:
      summary: Trigger initial migration
      tags:
        - Clinics
        - Internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/migration.v1'
      operationId: TriggerInitialMigration
      description: Trigger the initial migration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/triggerMigration.v1'
  /v1/clinics/{clinicId}/migrations/{userId}:
    parameters:
      - $ref: '#/components/parameters/clinicId.v1'
      - $ref: '#/components/parameters/userId'
    get:
      summary: Get Migration
      tags:
        - Clinics
        - Internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/migration.v1'
      operationId: GetMigration
      description: Get a migration by user id
    patch:
      summary: Update Migration
      operationId: UpdateMigration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/migration.v1'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/migrationUpdate.v1'
      description: Internal endpoint to update the status of a migration
      tags:
        - Clinics
        - Internal
  /v1/users/{userId}/clinics:
    parameters:
      - $ref: '#/components/parameters/userId'
    delete:
      summary: Remove User from Clinics
      operationId: DeleteUserFromClinics
      responses:
        '200':
          description: OK
      tags:
        - Clinics
        - Internal
      description: |-
        Internal endpoint that deletes any user associations with clinics they are a patient or a member of.

        If the user is a patient of a clinic the service will delete the patient-clinic relationship.

        If the user is one of many admins of any clinic the service will delete the clinician-clinic relationship.

        If the user is the only admin of a clinic the service will:
        - delete the clinician record, leaving the clinic without an admin
        - delete all non-custodial patient relationships of the clinic
        - keep all custodian relationships, allowing users to claim custodial accounts with an email
        - keep all custodian accounts and data even if they can’t be claimed when there isn’t an email address associated with the account
    post:
      summary: Update User Details
      operationId: UpdateClinicUserDetails
      responses:
        '204':
          description: No Content
      description: Internal endpoint to update clinician details. In the future it may be extended to support patient updates.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateUserDetails.v1'
      tags:
        - Clinics
        - Internal
  /v1/clinicians:
    get:
      summary: List All Clinicians
      tags:
        - Clinics
        - Internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/clinicianClinicRelationship.v1'
      operationId: ListAllClinicians
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/createdTimeStart'
        - $ref: '#/components/parameters/createdTimeEnd'
      description: Returns list of all clinician/clinic relationships in the system. Internal endpoint used for reporting purposes.
  /v1/patients/{patientId}/summary:
    parameters:
      - $ref: '#/components/parameters/patientId'
    post:
      summary: UpdatePatientSummary
      operationId: UpdatePatientSummary
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
      description: Internal endpoint which updates the summary in all patient records which match the user id.
      tags:
        - Clinics
        - Internal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patientSummary.v1'
        description: ''
  /v1/summaries/{summaryId}/clinics:
    parameters:
      - $ref: '#/components/parameters/summaryId'
    delete:
      summary: DeletePatientSummary
      operationId: DeletePatientSummary
      responses:
        '200':
          description: OK
        '204':
          description: No Change
      description: Internal endpoint which deletes the summary in all patient records which match the summary id.
      tags:
        - Clinics
        - Internal
  /v1/patients/{userId}/data_sources:
    parameters:
      - $ref: '#/components/parameters/userId'
    put:
      summary: Create or update a data source for a patient
      operationId: UpdatePatientDataSources
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
      description: Internal endpoint to upsert patient data source provider details in all their associated clinic records.
      tags:
        - Clinics
        - Internal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dataSources.v1'
  /v1/clinics/{clinicId}/tier:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    post:
      summary: Update Tier
      operationId: UpdateTier
      responses:
        '200':
          description: OK
      description: Internal endpoint to update clinic service tier
      tags:
        - Clinics
        - Internal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTier'
  /v1/clinics/{clinicId}/suppressed_notifications:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    post:
      summary: Update Suppressed Notifications
      operationId: UpdateSuppressedNotifications
      responses:
        '200':
          description: OK
      description: Endpoint to update clinic suppressed notifications
      tags:
        - Clinics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSuppressedNotifications'
  /v1/clinics/{clinicId}/patients/{patientId}/upload_reminder:
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/patientId'
    post:
      summary: Send Upload Reminder
      operationId: SendUploadReminder
      responses:
        '200':
          description: OK
      description: Sends upload reminder to the patient
      tags:
        - Clinics
  /v1/clinics/{clinicId}/patients/assign_tag/{patientTagId}:
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/patientTagId'
    post:
      summary: Assign Patient Tag To Clinic Patients
      operationId: AssignPatientTagToClinicPatients
      requestBody:
        description: Array of clinic patient user IDs to target for tag assignment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tidepoolUserIds.v1'
      responses:
        '200':
          description: OK
      description: Assign a patient tag to a subset of clinic patients
      tags:
        - Clinics
        - Internal
  /v1/clinics/{clinicId}/patients/delete_tag/{patientTagId}:
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/patientTagId'
    post:
      summary: Delete Patient Tag From Clinic Patients
      operationId: DeletePatientTagFromClinicPatients
      requestBody:
        description: Pass an array of patient IDs to target a subset of the clinic patients. Omit request body to target all clinic patients.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tidepoolUserIds.v1'
      responses:
        '200':
          description: OK
      description: Delete a patient tag from all or a subset of clinic patients
      tags:
        - Clinics
        - Internal
  /v1/clinics/{clinicId}/membership_restrictions:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    get:
      summary: List Membership Restrictions
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/membershipRestrictions.v1'
      operationId: ListMembershipRestrictions
      description: |-
        Returns a list of the membership restrictions that will be evaluated when a user joins a clinic.

        Only clinic admins can access this endpoint.
    put:
      summary: Update Membership Restrictions
      operationId: UpdateMembershipRestrictions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/membershipRestrictions.v1'
      description: An internal endpoint to update clinic membership restrictions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/membershipRestrictions.v1'
      x-internal: true
      tags:
        - Clinics
        - Internal
  /v1/redox:
    post:
      summary: Redox EHR Endpoint
      operationId: ProcessEHRMessage
      responses:
        '200':
          description: OK
      tags:
        - Internal
        - Redox
        - Clinics
      description: An endpoint for incoming Redox messages
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      x-internal: true
  /v1/redox/verify:
    post:
      summary: Redox Verify Endpoint
      operationId: VerifyEndpoint
      responses:
        '200':
          description: OK
      tags:
        - Internal
        - Redox
        - Clinics
      x-internal: true
      description: Internal endpoint for Redox challenge verification
  /v1/clinics/{clinicId}/settings/ehr:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    get:
      summary: Get EHR Settings
      tags:
        - Clinics
        - Internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ehrSettings.v1'
      operationId: GetEHRSettings
      description: Returns EHR related settings
      x-internal: true
    put:
      summary: Update EHR Settings
      operationId: UpdateEHRSettings
      responses:
        '200':
          description: OK
      description: Update EHR related settings for a clinic
      tags:
        - Clinics
        - Internal
      x-internal: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ehrSettings.v1'
  /v1/redox/match:
    post:
      summary: Match Clinic and Patient
      operationId: MatchClinicAndPatient
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ehrMatchResponse.v1'
        '404':
          description: Not Found
      tags:
        - Clinics
        - Internal
      description: |
        An internal endpoint used for matching an EHR request (e.g. NewOrder) to a clinic and patient.

        If a clinic with the provided details cannot be found, the service will return `404 Not Found` and will not attempt to match patients to the provided details.

        Due to lack of uniqueness constraints on the MRN and DOB fields it's possible that multiple patient records match the provided attributes. All results will be returned in the response and it's the calling services responsiblity to determine how to handle duplicates records.

        If a unique match is found, the patient matching criteria will be added to the patient record for future use (e.g. pushing data on a schedule).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ehrMatchRequest.v1'
      x-internal: true
  /v1/clinics/{clinicId}/settings/mrn:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    get:
      summary: Get MRN Settings
      tags:
        - Clinics
        - Internal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mrnSettings.v1'
      operationId: GetMRNSettings
      x-internal: true
      description: Retrieve MRN settings
    put:
      summary: Update MRN Settings
      operationId: UpdateMRNSettings
      responses:
        '200':
          description: OK
      tags:
        - Clinics
        - Internal
      description: Update MRN Settings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mrnSettings.v1'
  /v1/clinics/{clinicId}/settings/patient_count:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    get:
      operationId: GetPatientCountSettings
      summary: Get Patient Count Settings
      description: Get Patient Count settings
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patientCountSettings.v1'
      x-internal: true
    put:
      operationId: UpdatePatientCountSettings
      summary: Update Patient Count Settings
      description: Update Patient Count Settings
      tags:
        - Clinics
        - Internal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patientCountSettings.v1'
      responses:
        '200':
          description: OK
  /v1/clinics/{clinicId}/patient_count:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    get:
      operationId: GetPatientCount
      summary: Get Patient Count
      description: Get Patient Count
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patientCount.v1'
  /v1/clinics/{clinicId}/ehr/sync:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    post:
      summary: Sync EHR Data
      operationId: SyncEHRData
      responses:
        '202':
          description: Accepted
      description: |-
        An internal endpoint which will push the latest patient summary statistics and PDF reports for all patients who have an active subscription. The actual data is pushed asynchronously. A successful response means that an asynchronous task has been scheduled for each patient of the clinic with an active subscription.

        Will return 404 Not Found if the clinic does not have an active EHR connection.
      tags:
        - Clinics
        - Internal
      x-internal: true
      parameters: []
  /v1/patients:
    get:
      summary: Find Patients
      tags:
        - Clinics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patientClinicRelationships.v1'
      operationId: FindPatients
      description: Returns all patients to which the clinician has access to
      parameters:
        - schema:
            type: string
          in: query
          name: mrn
        - schema:
            type: string
          in: query
          name: birthDate
        - schema:
            type: string
          in: query
          name: workspaceId
          description: The identifier of the workspace
        - schema:
            type: string
            enum:
              - clinicId
              - ehrSourceId
          in: query
          name: workspaceIdType
          description: The type of the workspace identifier
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
  /v1/xealth/preorder:
    parameters: []
    post:
      summary: Preorder Form Webhook
      operationId: XealthPreorder
      responses:
        '200':
          description: OK
      tags:
        - Clinics
        - Internal
      x-internal: true
      description: |-
        The Preorder endpoint can be invoked when a care provider attempts to place an order manually within the EHR. Subscribers can use Preorder Forms to present additional information to, or receive input from, a care provider before an order can be placed. Preorder Forms can also be implemented so as to prevent an order from being placed entirely.

        https://sandbox.xealth.io/app/api-docs#tag/Digital-Care/paths/preorder/post
  /v1/xealth/programs:
    put:
      summary: Get Programs
      operationId: XealthGetPrograms
      responses:
        '200':
          description: OK
      tags:
        - Clinics
        - Internal
      x-internal: true
  /v1/xealth/program:
    put:
      summary: Get Program Url
      operationId: XealthGetProgramUrl
      responses:
        '200':
          description: OK
      description: ''
      tags:
        - Clinics
        - Internal
      x-internal: true
  /v1/xealth/notification:
    post:
      summary: Notification Webhook
      operationId: XealthNotification
      responses:
        '200':
          description: OK
      description: ''
      tags:
        - Clinics
        - Internal
      x-internal: true
  /v1/xealth/report/web/viewer.html:
    get:
      summary: View PDF Report
      tags:
        - Clinics
        - Internal
      responses:
        '200':
          description: OK
      operationId: ViewPDFReport
      description: View PDF report for a given patient of a clinic
      parameters:
        - schema:
            type: string
          in: query
          name: clinicId
          required: true
        - schema:
            type: string
          in: query
          name: patientId
          required: true
        - schema:
            type: string
          in: query
          name: restricted_token
          required: true
      x-internal: true
    parameters: []
  /v1/clinics/{clinicId}/service_accounts:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    post:
      summary: Add Service Account
      operationId: AddServiceAccount
      responses:
        '200':
          description: OK
      description: Adds authentication client's service account as a new clinician member.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addServiceAccount.v1'
      tags:
        - Clinics
        - Internal
      x-internal: true
  /v1/patients/{patientId}/ehr/sync:
    parameters:
      - $ref: '#/components/parameters/patientId'
    post:
      summary: Sync EHR Data for Patient
      operationId: SyncEHRDataForPatient
      responses:
        '202':
          description: Accepted
      description: |-
        An internal endpoint which will push the latest patient summary statistics and PDF reports to all EHR enabled clinics for which the patient has an active subscription. The actual data is pushed asynchronously. A successful response means that an asynchronous task has been scheduled.

        A 404 response will be returned if no active subscriptions can be found for given patient.
      tags:
        - Clinics
        - Internal
      x-internal: true
  /v1/clinics/{clinicId}/reports/merge:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    post:
      summary: Generate Clinic Merge Report
      operationId: GenerateMergeReport
      responses:
        '200':
          description: OK
      description: Generates a spreadsheet report for merging two clinics
      tags:
        - Clinics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generateMergeReport.v1'
        description: ''
  /v1/clinics/{clinicId}/merge:
    parameters:
      - $ref: '#/components/parameters/clinicId'
    post:
      summary: Merge Clinic
      operationId: MergeClinic
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mergeClinic.v1'
      tags:
        - Clinics
        - Internal
      x-internal: true
      description: Merges tags, patients, clinicians, invites and share codes of the source clinic
  /v1/clinics/{clinicId}/patients/{patientId}/connect/{providerId}:
    parameters:
      - $ref: '#/components/parameters/clinicId'
      - $ref: '#/components/parameters/patientId'
      - $ref: '#/components/parameters/providerId'
    post:
      summary: Connect Provider
      operationId: ConnectProvider
      responses:
        '204':
          description: No Content
      tags:
        - Clinics
        - Internal
      description: Send a new request to the patient to connect a data provider
components:
  schemas:
    clinics.v1:
      type: array
      items:
        $ref: '#/components/schemas/clinic.v1'
    clinicians.v1:
      type: array
      items:
        $ref: '#/components/schemas/clinician.v1'
    patients.v1:
      type: array
      items:
        $ref: '#/components/schemas/patient.v1'
    patientTag.v1:
      type: object
      title: Patient Tag
      description: ''
      properties:
        id:
          $ref: '#/components/schemas/objectid.v1'
        name:
          type: string
          description: The tag display name
          minLength: 1
          maxLength: 20
          pattern: ^[\p{L}\p{N}_+><-]{1}[\p{L}\p{N}\s_+><-]*$
      required:
        - id
        - name
    dataSources.v1:
      type: array
      items:
        $ref: '#/components/schemas/dataSource.v1'
    site.v1:
      type: object
      title: Site
      description: A clinic's physical or logical location.
      properties:
        id:
          title: Object Id
          type: string
          x-go-type-skip-optional-pointer: true
          description: String representation of a resource id
          minLength: 24
          maxLength: 24
          pattern: ^[a-f0-9]{24}$
        name:
          type: string
          x-go-type-skip-optional-pointer: true
          description: The site description.
          minLength: 1
          maxLength: 200
          pattern: ^[[:graph:]\p{L}\p{N}][[:graph:]\p{L}\p{N} ]*$
      required:
        - id
        - name
    siteCreation.v1:
      type: object
      title: Site
      description: A clinic's physical or logical location.
      properties:
        name:
          type: string
          x-go-type-skip-optional-pointer: true
          description: The site description.
          minLength: 1
          maxLength: 200
          pattern: ^[[:graph:]\p{L}\p{N}][[:graph:]\p{L}\p{N} ]*$
      required:
        - name
    tidepoolUserIds.v1:
      type: array
      nullable: true
      description: Array of Tidepool User IDs
      items:
        $ref: '#/components/schemas/tidepooluserid'
      minItems: 1
      maxItems: 1000
      uniqueItems: true
    patientClinicRelationship.v1:
      title: PatientClinicRelationship
      type: object
      properties:
        patient:
          $ref: '#/components/schemas/patient.v1'
        clinic:
          $ref: '#/components/schemas/clinic.v1'
      required:
        - patient
        - clinic
    patientClinicRelationships.v1:
      title: PatientClinicRelationships
      type: array
      items:
        $ref: '#/components/schemas/patientClinicRelationship.v1'
    createPatient.v1:
      title: Create Patient
      type: object
      properties:
        permissions:
          $ref: '#/components/schemas/patientPermissions.v1'
        isMigrated:
          type: boolean
        legacyClinicianId:
          $ref: '#/components/schemas/tidepooluserid'
        attestationSubmitted:
          type: boolean
        fullName:
          type: string
          description: The full name of the patient
          minLength: 1
        birthDate:
          type: string
          format: date
          example: '2012-08-30'
        mrn:
          type: string
          description: The medical record number of the patient
          minLength: 1
        tags:
          $ref: '#/components/schemas/patientTagIds.v1'
        sites:
          type: array
          x-go-type-skip-optional-pointer: true
          x-omitempty: false
          x-omitzero: true
          items:
            $ref: '#/components/schemas/site.v1'
    associateClinicianToUser.v1:
      title: Associate Clinician
      type: object
      properties:
        userId:
          type: string
      required:
        - userId
    clinicianClinicRelationship.v1:
      title: ClinicianClinicRelationship
      type: object
      properties:
        clinician:
          $ref: '#/components/schemas/clinician.v1'
        clinic:
          $ref: '#/components/schemas/clinic.v1'
      required:
        - clinician
        - clinic
    clinicianClinicRelationships.v1:
      title: ClinicianClinicRelationships
      type: array
      items:
        $ref: '#/components/schemas/clinicianClinicRelationship.v1'
    migration.v1:
      title: Migration
      type: object
      properties:
        userId:
          type: string
          description: The user id of the legacy clinician account that needs to be migrated.
          minLength: 1
        status:
          $ref: '#/components/schemas/migrationStatus.v1'
        createdTime:
          type: string
          format: date-time
          readOnly: true
        updatedTime:
          type: string
          format: date-time
          readOnly: true
        attestationTime:
          type: string
          format: date-time
          readOnly: true
      required:
        - userId
        - createdTime
        - updatedTime
    migrations.v1:
      title: Migrations
      type: array
      items:
        $ref: '#/components/schemas/migration.v1'
    migrationUpdate.v1:
      title: MigrationUpdate
      type: object
      properties:
        status:
          $ref: '#/components/schemas/migrationStatus.v1'
      required:
        - status
    meta.v1:
      title: Meta
      type: object
      properties:
        count:
          description: The number of items matching the filter
          type: integer
        totalCount:
          description: The total number of items
          type: integer
    patientsResponse.v1:
      title: PatientsResponse
      type: object
      properties:
        data:
          $ref: '#/components/schemas/patients.v1'
        meta:
          $ref: '#/components/schemas/meta.v1'
    updateUserDetails.v1:
      title: UpdateUserDetails
      type: object
      properties:
        email:
          type: string
          format: email
          minLength: 1
    triggerMigration.v1:
      title: TriggerMigration
      type: object
      properties:
        attestationSubmitted:
          type: boolean
    patientReviews.v1:
      type: array
      items:
        $ref: '#/components/schemas/patientReview.v1'
    FloatFilter:
      type: string
      pattern: ^(>=|>|<=|<)[+-]?((\d+(\.\d*)?)|(\.\d+))$
      example: '>=5.5'
    IntFilter:
      type: string
      pattern: ^(>=|>|<=|<)[+-]?\d+$
      example: '>=7'
    UpdateTier:
      title: UpdateTier
      type: object
      properties:
        tier:
          $ref: '#/components/schemas/tier.v1'
      required:
        - tier
    tier.v1:
      type: string
      title: Clinic Service Tier
      enum:
        - tier0100
        - tier0200
        - tier0300
        - tier0400
      example: tier0100
    UpdateSuppressedNotifications:
      title: UpdateSuppressedNotifications
      type: object
      properties:
        suppressedNotifications:
          $ref: '#/components/schemas/suppressedNotifications.v1'
      required:
        - suppressedNotifications
    ehrMatchRequest.v1:
      title: EHR Match Request
      x-stoplight:
        id: nq0mlm5dqdfw0
      type: object
      x-examples: {}
      properties:
        messageRef:
          $ref: '#/components/schemas/ehrMatchMessageRef.v1'
        patients:
          $ref: '#/components/schemas/ehrMatchRequestPatientsOptions.v1'
    ehrMatchResponse.v1:
      title: EHRMatchResponse
      x-stoplight:
        id: pekkj09rlany0
      type: object
      properties:
        clinic:
          $ref: '#/components/schemas/clinic.v1'
        patients:
          $ref: '#/components/schemas/patients.v1'
        settings:
          $ref: '#/components/schemas/ehrSettings.v1'
      required:
        - clinic
        - settings
    ehrMatchMessageRef.v1:
      title: EHRMatchMessageRef
      x-stoplight:
        id: a1215t5vip3tr
      type: object
      properties:
        dataModel:
          type: string
          enum:
            - Order
        eventType:
          type: string
          enum:
            - New
        documentId:
          type: string
      required:
        - dataModel
        - eventType
        - documentId
    AcceptPatientInvitation:
      title: AcceptPatientInvitation
      x-stoplight:
        id: vo0jck92hztsj
      type: object
      properties:
        fullName:
          type: string
          description: The full name of the patient
          minLength: 1
        birthDate:
          type: string
          format: date
          example: '2012-08-30'
        mrn:
          type: string
          description: The medical record number of the patient
          minLength: 1
        tags:
          $ref: '#/components/schemas/patientTagIds.v1'
        sites:
          type: array
          x-go-type-skip-optional-pointer: true
          x-omitempty: false
          x-omitzero: true
          items:
            $ref: '#/components/schemas/site.v1'
    addServiceAccount.v1:
      title: AddServiceAccount
      x-stoplight:
        id: 3c7ko800mld31
      type: object
      properties:
        name:
          type: string
          x-stoplight:
            id: 3333gszyq3x79
          minLength: 1
        client_id:
          type: string
          x-stoplight:
            id: kgfyaapmfjies
          minLength: 1
        client_secret:
          type: string
          x-stoplight:
            id: 8jdosn0tlbqp5
          minLength: 1
      required:
        - name
        - client_id
        - client_secret
    generateMergeReport.v1:
      title: GenerateMergeReport
      x-stoplight:
        id: 3oq18sasrzo0o
      type: object
      properties:
        sourceId:
          $ref: '#/components/schemas/clinicId.v1'
      required:
        - sourceId
    mergeClinic.v1:
      title: MergeClinics
      x-stoplight:
        id: 6hn01uuhln0wx
      type: object
      properties:
        sourceId:
          $ref: '#/components/schemas/clinicId.v1'
    ehrMatchRequestPatientsOptions.v1:
      title: Patient Matching Options
      x-stoplight:
        id: 43n6iid3zghxm
      type: object
      properties:
        criteria:
          type: array
          x-stoplight:
            id: 1odrg3q8zzdil
          description: Performs an "OR" match for each item in the array
          minItems: 1
          items:
            x-stoplight:
              id: mgi1k2jyojc4k
            type: string
            enum:
              - MRN
              - MRN_DOB
              - DOB_FULLNAME
        onUniqueMatch:
          type: string
          x-stoplight:
            id: s9ujf5ce4vhc1
          enum:
            - ENABLE_REPORTS
            - DISABLE_REPORTS
          description: Optional action to be performed when a unique match has been found
      required:
        - criteria
    clinicId.v1:
      title: Clinic ID
      description: Clinic identifier.
      type: string
      minLength: 24
      maxLength: 24
      pattern: ^[a-f0-9]{24}$
      readOnly: true
      example: 2fe2488217ee43e1b2e83c2f
    streetAddress.v1:
      title: Street Address
      description: Street address.
      type: string
      minLength: 1
    city.v1:
      title: City
      description: City name.
      type: string
      minLength: 1
      example: Palo Alto
    postalCode.v1:
      title: Postal Code
      description: Postal code. In the U.S., typically the zip code such as `94301` or `94301-1704`.
      type: string
      minLength: 1
      example: '94301'
    state.v1:
      title: State
      description: State or province. In the U.S., typically something like `CA` or `California`.
      type: string
      minLength: 1
      example: CA
    country.v1:
      title: Country
      description: Country name.
      type: string
      minLength: 1
      example: USA
    objectid.v1:
      title: Object Id
      type: string
      description: String representation of a resource id
      minLength: 24
      maxLength: 24
      pattern: ^[a-f0-9]{24}$
      readOnly: true
    phoneNumber.v1:
      title: Phone Number
      type: object
      properties:
        type:
          type: string
          minLength: 1
        number:
          type: string
          minLength: 1
      required:
        - number
      example:
        type: main
        number: +1 (555) 555-1212
    phoneNumbers.v1:
      title: Phone phoneNumbers
      description: An array of phone numbers.
      type: array
      uniqueItems: true
      minItems: 1
      items:
        $ref: '#/components/schemas/phoneNumber.v1'
    name.v1:
      title: Clinic Name
      description: Name of the clinic.
      type: string
      minItems: 1
    shareCode.v1:
      title: Clinic Share Code
      description: Globally unique share code for a clinic. The share code is 3 groups of 4 uppercase alphanumeric characters in each group. Ambiguous characters such as `I` and `1`, or `O` and `0` are excluded.
      type: string
      pattern: ^[ABCDEFGHJKLMNPQRSTUVWXYZ23456789]{4}-[ABCDEFGHJKLMNPQRSTUVWXYZ23456789]{4}-[ABCDEFGHJKLMNPQRSTUVWXYZ23456789]{4}$
      readOnly: true
    suppressedNotifications.v1:
      title: Suppressed Notifications
      type: object
      properties:
        patientClinicInvitation:
          type: boolean
      additionalProperties: false
    clinicTimezone.v1:
      title: Clinic Timezone
      x-stoplight:
        id: 7htuwravuo8sn
      type: string
      enum:
        - Africa/Abidjan
        - Africa/Accra
        - Africa/Addis_Ababa
        - Africa/Algiers
        - Africa/Asmara
        - Africa/Asmera
        - Africa/Bamako
        - Africa/Bangui
        - Africa/Banjul
        - Africa/Bissau
        - Africa/Blantyre
        - Africa/Brazzaville
        - Africa/Bujumbura
        - Africa/Cairo
        - Africa/Casablanca
        - Africa/Ceuta
        - Africa/Conakry
        - Africa/Dakar
        - Africa/Dar_es_Salaam
        - Africa/Djibouti
        - Africa/Douala
        - Africa/El_Aaiun
        - Africa/Freetown
        - Africa/Gaborone
        - Africa/Harare
        - Africa/Johannesburg
        - Africa/Juba
        - Africa/Kampala
        - Africa/Khartoum
        - Africa/Kigali
        - Africa/Kinshasa
        - Africa/Lagos
        - Africa/Libreville
        - Africa/Lome
        - Africa/Luanda
        - Africa/Lubumbashi
        - Africa/Lusaka
        - Africa/Malabo
        - Africa/Maputo
        - Africa/Maseru
        - Africa/Mbabane
        - Africa/Mogadishu
        - Africa/Monrovia
        - Africa/Nairobi
        - Africa/Ndjamena
        - Africa/Niamey
        - Africa/Nouakchott
        - Africa/Ouagadougou
        - Africa/Porto-Novo
        - Africa/Sao_Tome
        - Africa/Timbuktu
        - Africa/Tripoli
        - Africa/Tunis
        - Africa/Windhoek
        - America/Adak
        - America/Anchorage
        - America/Anguilla
        - America/Antigua
        - America/Araguaina
        - America/Argentina/Buenos_Aires
        - America/Argentina/Catamarca
        - America/Argentina/ComodRivadavia
        - America/Argentina/Cordoba
        - America/Argentina/Jujuy
        - America/Argentina/La_Rioja
        - America/Argentina/Mendoza
        - America/Argentina/Rio_Gallegos
        - America/Argentina/Salta
        - America/Argentina/San_Juan
        - America/Argentina/San_Luis
        - America/Argentina/Tucuman
        - America/Argentina/Ushuaia
        - America/Aruba
        - America/Asuncion
        - America/Atikokan
        - America/Atka
        - America/Bahia
        - America/Bahia_Banderas
        - America/Barbados
        - America/Belem
        - America/Belize
        - America/Blanc-Sablon
        - America/Boa_Vista
        - America/Bogota
        - America/Boise
        - America/Buenos_Aires
        - America/Cambridge_Bay
        - America/Campo_Grande
        - America/Cancun
        - America/Caracas
        - America/Catamarca
        - America/Cayenne
        - America/Cayman
        - America/Chicago
        - America/Chihuahua
        - America/Ciudad_Juarez
        - America/Coral_Harbour
        - America/Cordoba
        - America/Costa_Rica
        - America/Creston
        - America/Cuiaba
        - America/Curacao
        - America/Danmarkshavn
        - America/Dawson
        - America/Dawson_Creek
        - America/Denver
        - America/Detroit
        - America/Dominica
        - America/Edmonton
        - America/Eirunepe
        - America/El_Salvador
        - America/Ensenada
        - America/Fort_Nelson
        - America/Fort_Wayne
        - America/Fortaleza
        - America/Glace_Bay
        - America/Godthab
        - America/Goose_Bay
        - America/Grand_Turk
        - America/Grenada
        - America/Guadeloupe
        - America/Guatemala
        - America/Guayaquil
        - America/Guyana
        - America/Halifax
        - America/Havana
        - America/Hermosillo
        - America/Indiana/Indianapolis
        - America/Indiana/Knox
        - America/Indiana/Marengo
        - America/Indiana/Petersburg
        - America/Indiana/Tell_City
        - America/Indiana/Vevay
        - America/Indiana/Vincennes
        - America/Indiana/Winamac
        - America/Indianapolis
        - America/Inuvik
        - America/Iqaluit
        - America/Jamaica
        - America/Jujuy
        - America/Juneau
        - America/Kentucky/Louisville
        - America/Kentucky/Monticello
        - America/Knox_IN
        - America/Kralendijk
        - America/La_Paz
        - America/Lima
        - America/Los_Angeles
        - America/Louisville
        - America/Lower_Princes
        - America/Maceio
        - America/Managua
        - America/Manaus
        - America/Marigot
        - America/Martinique
        - America/Matamoros
        - America/Mazatlan
        - America/Mendoza
        - America/Menominee
        - America/Merida
        - America/Metlakatla
        - America/Mexico_City
        - America/Miquelon
        - America/Moncton
        - America/Monterrey
        - America/Montevideo
        - America/Montreal
        - America/Montserrat
        - America/Nassau
        - America/New_York
        - America/Nipigon
        - America/Nome
        - America/Noronha
        - America/North_Dakota/Beulah
        - America/North_Dakota/Center
        - America/North_Dakota/New_Salem
        - America/Nuuk
        - America/Ojinaga
        - America/Panama
        - America/Pangnirtung
        - America/Paramaribo
        - America/Phoenix
        - America/Port-au-Prince
        - America/Port_of_Spain
        - America/Porto_Acre
        - America/Porto_Velho
        - America/Puerto_Rico
        - America/Punta_Arenas
        - America/Rainy_River
        - America/Rankin_Inlet
        - America/Recife
        - America/Regina
        - America/Resolute
        - America/Rio_Branco
        - America/Rosario
        - America/Santa_Isabel
        - America/Santarem
        - America/Santiago
        - America/Santo_Domingo
        - America/Sao_Paulo
        - America/Scoresbysund
        - America/Shiprock
        - America/Sitka
        - America/St_Barthelemy
        - America/St_Johns
        - America/St_Kitts
        - America/St_Lucia
        - America/St_Thomas
        - America/St_Vincent
        - America/Swift_Current
        - America/Tegucigalpa
        - America/Thule
        - America/Thunder_Bay
        - America/Tijuana
        - America/Toronto
        - America/Tortola
        - America/Vancouver
        - America/Virgin
        - America/Whitehorse
        - America/Winnipeg
        - America/Yakutat
        - America/Yellowknife
        - Antarctica/Casey
        - Antarctica/Davis
        - Antarctica/DumontDUrville
        - Antarctica/Macquarie
        - Antarctica/Mawson
        - Antarctica/McMurdo
        - Antarctica/Palmer
        - Antarctica/Rothera
        - Antarctica/South_Pole
        - Antarctica/Syowa
        - Antarctica/Troll
        - Antarctica/Vostok
        - Arctic/Longyearbyen
        - Asia/Aden
        - Asia/Almaty
        - Asia/Amman
        - Asia/Anadyr
        - Asia/Aqtau
        - Asia/Aqtobe
        - Asia/Ashgabat
        - Asia/Ashkhabad
        - Asia/Atyrau
        - Asia/Baghdad
        - Asia/Bahrain
        - Asia/Baku
        - Asia/Bangkok
        - Asia/Barnaul
        - Asia/Beirut
        - Asia/Bishkek
        - Asia/Brunei
        - Asia/Calcutta
        - Asia/Chita
        - Asia/Choibalsan
        - Asia/Chongqing
        - Asia/Chungking
        - Asia/Colombo
        - Asia/Dacca
        - Asia/Damascus
        - Asia/Dhaka
        - Asia/Dili
        - Asia/Dubai
        - Asia/Dushanbe
        - Asia/Famagusta
        - Asia/Gaza
        - Asia/Harbin
        - Asia/Hebron
        - Asia/Ho_Chi_Minh
        - Asia/Hong_Kong
        - Asia/Hovd
        - Asia/Irkutsk
        - Asia/Istanbul
        - Asia/Jakarta
        - Asia/Jayapura
        - Asia/Jerusalem
        - Asia/Kabul
        - Asia/Kamchatka
        - Asia/Karachi
        - Asia/Kashgar
        - Asia/Kathmandu
        - Asia/Katmandu
        - Asia/Khandyga
        - Asia/Kolkata
        - Asia/Krasnoyarsk
        - Asia/Kuala_Lumpur
        - Asia/Kuching
        - Asia/Kuwait
        - Asia/Macao
        - Asia/Macau
        - Asia/Magadan
        - Asia/Makassar
        - Asia/Manila
        - Asia/Muscat
        - Asia/Nicosia
        - Asia/Novokuznetsk
        - Asia/Novosibirsk
        - Asia/Omsk
        - Asia/Oral
        - Asia/Phnom_Penh
        - Asia/Pontianak
        - Asia/Pyongyang
        - Asia/Qatar
        - Asia/Qostanay
        - Asia/Qyzylorda
        - Asia/Rangoon
        - Asia/Riyadh
        - Asia/Saigon
        - Asia/Sakhalin
        - Asia/Samarkand
        - Asia/Seoul
        - Asia/Shanghai
        - Asia/Singapore
        - Asia/Srednekolymsk
        - Asia/Taipei
        - Asia/Tashkent
        - Asia/Tbilisi
        - Asia/Tehran
        - Asia/Tel_Aviv
        - Asia/Thimbu
        - Asia/Thimphu
        - Asia/Tokyo
        - Asia/Tomsk
        - Asia/Ujung_Pandang
        - Asia/Ulaanbaatar
        - Asia/Ulan_Bator
        - Asia/Urumqi
        - Asia/Ust-Nera
        - Asia/Vientiane
        - Asia/Vladivostok
        - Asia/Yakutsk
        - Asia/Yangon
        - Asia/Yekaterinburg
        - Asia/Yerevan
        - Atlantic/Azores
        - Atlantic/Bermuda
        - Atlantic/Canary
        - Atlantic/Cape_Verde
        - Atlantic/Faeroe
        - Atlantic/Faroe
        - Atlantic/Jan_Mayen
        - Atlantic/Madeira
        - Atlantic/Reykjavik
        - Atlantic/South_Georgia
        - Atlantic/St_Helena
        - Atlantic/Stanley
        - Australia/ACT
        - Australia/Adelaide
        - Australia/Brisbane
        - Australia/Broken_Hill
        - Australia/Canberra
        - Australia/Currie
        - Australia/Darwin
        - Australia/Eucla
        - Australia/Hobart
        - Australia/LHI
        - Australia/Lindeman
        - Australia/Lord_Howe
        - Australia/Melbourne
        - Australia/NSW
        - Australia/North
        - Australia/Perth
        - Australia/Queensland
        - Australia/South
        - Australia/Sydney
        - Australia/Tasmania
        - Australia/Victoria
        - Australia/West
        - Australia/Yancowinna
        - Brazil/Acre
        - Brazil/DeNoronha
        - Brazil/East
        - Brazil/West
        - CET
        - CST6CDT
        - Canada/Atlantic
        - Canada/Central
        - Canada/Eastern
        - Canada/Mountain
        - Canada/Newfoundland
        - Canada/Pacific
        - Canada/Saskatchewan
        - Canada/Yukon
        - Chile/Continental
        - Chile/EasterIsland
        - Cuba
        - EET
        - EST
        - EST5EDT
        - Egypt
        - Eire
        - Etc/GMT
        - Etc/GMT+0
        - Etc/GMT+1
        - Etc/GMT+10
        - Etc/GMT+11
        - Etc/GMT+12
        - Etc/GMT+2
        - Etc/GMT+3
        - Etc/GMT+4
        - Etc/GMT+5
        - Etc/GMT+6
        - Etc/GMT+7
        - Etc/GMT+8
        - Etc/GMT+9
        - Etc/GMT-0
        - Etc/GMT-1
        - Etc/GMT-10
        - Etc/GMT-11
        - Etc/GMT-12
        - Etc/GMT-13
        - Etc/GMT-14
        - Etc/GMT-2
        - Etc/GMT-3
        - Etc/GMT-4
        - Etc/GMT-5
        - Etc/GMT-6
        - Etc/GMT-7
        - Etc/GMT-8
        - Etc/GMT-9
        - Etc/GMT0
        - Etc/Greenwich
        - Etc/UCT
        - Etc/UTC
        - Etc/Universal
        - Etc/Zulu
        - Europe/Amsterdam
        - Europe/Andorra
        - Europe/Astrakhan
        - Europe/Athens
        - Europe/Belfast
        - Europe/Belgrade
        - Europe/Berlin
        - Europe/Bratislava
        - Europe/Brussels
        - Europe/Bucharest
        - Europe/Budapest
        - Europe/Busingen
        - Europe/Chisinau
        - Europe/Copenhagen
        - Europe/Dublin
        - Europe/Gibraltar
        - Europe/Guernsey
        - Europe/Helsinki
        - Europe/Isle_of_Man
        - Europe/Istanbul
        - Europe/Jersey
        - Europe/Kaliningrad
        - Europe/Kiev
        - Europe/Kirov
        - Europe/Kyiv
        - Europe/Lisbon
        - Europe/Ljubljana
        - Europe/London
        - Europe/Luxembourg
        - Europe/Madrid
        - Europe/Malta
        - Europe/Mariehamn
        - Europe/Minsk
        - Europe/Monaco
        - Europe/Moscow
        - Europe/Nicosia
        - Europe/Oslo
        - Europe/Paris
        - Europe/Podgorica
        - Europe/Prague
        - Europe/Riga
        - Europe/Rome
        - Europe/Samara
        - Europe/San_Marino
        - Europe/Sarajevo
        - Europe/Saratov
        - Europe/Simferopol
        - Europe/Skopje
        - Europe/Sofia
        - Europe/Stockholm
        - Europe/Tallinn
        - Europe/Tirane
        - Europe/Tiraspol
        - Europe/Ulyanovsk
        - Europe/Uzhgorod
        - Europe/Vaduz
        - Europe/Vatican
        - Europe/Vienna
        - Europe/Vilnius
        - Europe/Volgograd
        - Europe/Warsaw
        - Europe/Zagreb
        - Europe/Zaporozhye
        - Europe/Zurich
        - GB
        - GB-Eire
        - GMT
        - GMT+0
        - GMT-0
        - GMT0
        - Greenwich
        - HST
        - Hongkong
        - Iceland
        - Indian/Antananarivo
        - Indian/Chagos
        - Indian/Christmas
        - Indian/Cocos
        - Indian/Comoro
        - Indian/Kerguelen
        - Indian/Mahe
        - Indian/Maldives
        - Indian/Mauritius
        - Indian/Mayotte
        - Indian/Reunion
        - Iran
        - Israel
        - Jamaica
        - Japan
        - Kwajalein
        - Libya
        - MET
        - MST
        - MST7MDT
        - Mexico/BajaNorte
        - Mexico/BajaSur
        - Mexico/General
        - NZ
        - NZ-CHAT
        - Navajo
        - PRC
        - PST8PDT
        - Pacific/Apia
        - Pacific/Auckland
        - Pacific/Bougainville
        - Pacific/Chatham
        - Pacific/Chuuk
        - Pacific/Easter
        - Pacific/Efate
        - Pacific/Enderbury
        - Pacific/Fakaofo
        - Pacific/Fiji
        - Pacific/Funafuti
        - Pacific/Galapagos
        - Pacific/Gambier
        - Pacific/Guadalcanal
        - Pacific/Guam
        - Pacific/Honolulu
        - Pacific/Johnston
        - Pacific/Kanton
        - Pacific/Kiritimati
        - Pacific/Kosrae
        - Pacific/Kwajalein
[...]
