openapi: 3.0.0
x-stoplight:
  id: gpm2ktdetzht7
info:
  title: Redox
  version: '1.0'
  description: |-
    This spec is used for generating models for incoming Redox messages. In the future it may also be used for generating an SDK library for pushing results to Redox.

    To enable code generation for a specific model you should reference it in the request body `/endpoint` API endpoint.
  contact:
    name: N/A
servers:
  - url: 'https://api.redoxengine.com/endpoint'
paths:
  /endpoint:
    post:
      summary: Send Data
      tags:
        - Redox
      responses:
        '200':
          description: OK
      operationId: SendData
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/NewOrder'
                - $ref: '#/components/schemas/NewFlowsheet'
                - $ref: '#/components/schemas/NewNotes'
                - $ref: '#/components/schemas/NewResults'
                - $ref: '#/components/schemas/ReplaceNotes'
      description: |-
        Currently, this endpoint's only purpose is to reference Redox models so we can use them for code generation. The code generation tool emits models only if they are referenced in the API portion of the spec.

        In the future we may use this for sending data to Redox as well.
    parameters: []
components:
  schemas:
    NewOrder:
      type: object
      properties:
        Meta:
          type: object
          properties:
            DataModel:
              type: string
            EventType:
              type: string
            EventDateTime:
              type: string
              nullable: true
            Test:
              type: boolean
              nullable: true
            Source:
              type: object
              properties:
                ID:
                  type: string
                  nullable: true
                Name:
                  type: string
                  nullable: true
            Destinations:
              type: array
              items:
                type: object
                properties:
                  ID:
                    type: string
                    nullable: true
                  Name:
                    type: string
                    nullable: true
            Logs:
              type: array
              items:
                type: object
                properties:
                  ID:
                    type: string
                    nullable: true
                  AttemptID:
                    type: string
                    nullable: true
            Message:
              type: object
              properties:
                ID:
                  type: number
                  nullable: true
            Transmission:
              type: object
              properties:
                ID:
                  type: number
                  nullable: true
            FacilityCode:
              type: string
              nullable: true
          required:
            - DataModel
            - EventType
        Patient:
          type: object
          properties:
            Identifiers:
              type: array
              items:
                type: object
                properties:
                  ID:
                    type: string
                  IDType:
                    type: string
                required:
                  - ID
                  - IDType
            Demographics:
              type: object
              properties:
                FirstName:
                  type: string
                  nullable: true
                MiddleName:
                  type: string
                  nullable: true
                LastName:
                  type: string
                  nullable: true
                DOB:
                  type: string
                  nullable: true
                SSN:
                  type: string
                  nullable: true
                Sex:
                  type: string
                  nullable: true
                Race:
                  type: string
                  nullable: true
                IsHispanic:
                  type: boolean
                  nullable: true
                Religion:
                  type: string
                  nullable: true
                MaritalStatus:
                  type: string
                  nullable: true
                IsDeceased:
                  type: boolean
                  nullable: true
                DeathDateTime:
                  type: string
                  nullable: true
                PhoneNumber:
                  type: object
                  properties:
                    Home:
                      type: string
                      nullable: true
                    Office:
                      type: string
                      nullable: true
                    Mobile:
                      type: string
                      nullable: true
                EmailAddresses:
                  type: array
                  items: {}
                Language:
                  type: string
                  nullable: true
                Citizenship:
                  type: array
                  items: {}
                Address:
                  type: object
                  properties:
                    StreetAddress:
                      type: string
                      nullable: true
                    City:
                      type: string
                      nullable: true
                    State:
                      type: string
                      nullable: true
                    ZIP:
                      type: string
                      nullable: true
                    County:
                      type: string
                      nullable: true
                    Country:
                      type: string
                      nullable: true
            Notes:
              type: array
              items: {}
          required:
            - Identifiers
        Visit:
          type: object
          properties:
            VisitNumber:
              type: string
              nullable: true
            AccountNumber:
              type: string
              nullable: true
            PatientClass:
              type: string
              nullable: true
            VisitDateTime:
              type: string
              nullable: true
            AttendingProvider:
              type: object
              properties:
                ID:
                  type: string
                  nullable: true
                IDType:
                  type: string
                  nullable: true
                FirstName:
                  type: string
                  nullable: true
                LastName:
                  type: string
                  nullable: true
                Credentials:
                  type: array
                  items: {}
                Address:
                  type: object
                  properties:
                    StreetAddress:
                      type: string
                      nullable: true
                    City:
                      type: string
                      nullable: true
                    State:
                      type: string
                      nullable: true
                    ZIP:
                      type: string
                      nullable: true
                    County:
                      type: string
                      nullable: true
                    Country:
                      type: string
                      nullable: true
                EmailAddresses:
                  type: array
                  items: {}
                PhoneNumber:
                  type: object
                  properties:
                    Office:
                      type: string
                      nullable: true
                Location:
                  type: object
                  properties:
                    Type:
                      type: string
                      nullable: true
                    Facility:
                      type: string
                      nullable: true
                    FacilityIdentifiers:
                      type: array
                      items:
                        type: object
                        properties:
                          ID:
                            type: string
                            nullable: true
                          IDType:
                            type: string
                            nullable: true
                    Department:
                      type: string
                      nullable: true
                    DepartmentIdentifiers:
                      type: array
                      items:
                        type: object
                        properties:
                          ID:
                            type: string
                            nullable: true
                          IDType:
                            type: string
                            nullable: true
                    Room:
                      type: string
                      nullable: true
            ConsultingProvider:
              type: object
              properties:
                ID:
                  type: string
                  nullable: true
                IDType:
                  type: string
                  nullable: true
                FirstName:
                  type: string
                  nullable: true
                LastName:
                  type: string
                  nullable: true
                Credentials:
                  type: array
                  items: {}
                Address:
                  type: object
                  properties:
                    StreetAddress:
                      type: string
                      nullable: true
                    City:
                      type: string
                      nullable: true
                    State:
                      type: string
                      nullable: true
                    ZIP:
                      type: string
                      nullable: true
                    County:
                      type: string
                      nullable: true
                    Country:
                      type: string
                      nullable: true
                EmailAddresses:
                  type: array
                  items: {}
                PhoneNumber:
                  type: object
                  properties:
                    Office:
                      type: string
                      nullable: true
                Location:
                  type: object
                  properties:
                    Type:
                      type: string
                      nullable: true
                    Facility:
                      type: string
                      nullable: true
                    FacilityIdentifiers:
                      type: array
                      items:
                        type: object
                        properties:
                          ID:
                            type: string
                            nullable: true
                          IDType:
                            type: string
                            nullable: true
                    Department:
                      type: string
                      nullable: true
                    DepartmentIdentifiers:
                      type: array
                      items:
                        type: object
                        properties:
                          ID:
                            type: string
                            nullable: true
                          IDType:
                            type: string
                            nullable: true
                    Room:
                      type: string
                      nullable: true
            ReferringProvider:
              type: object
              properties:
                ID:
                  type: string
                  nullable: true
                IDType:
                  type: string
                  nullable: true
                FirstName:
                  type: string
                  nullable: true
                LastName:
                  type: string
                  nullable: true
                Credentials:
                  type: array
                  items: {}
                Address:
                  type: object
                  properties:
                    StreetAddress:
                      type: string
                      nullable: true
                    City:
                      type: string
                      nullable: true
                    State:
                      type: string
                      nullable: true
                    ZIP:
                      type: string
                      nullable: true
                    County:
                      type: string
                      nullable: true
                    Country:
                      type: string
                      nullable: true
                EmailAddresses:
                  type: array
                  items: {}
                PhoneNumber:
                  type: object
                  properties:
                    Office:
                      type: string
                      nullable: true
                Location:
                  type: object
                  properties:
                    Type:
                      type: string
                      nullable: true
                    Facility:
                      type: string
                      nullable: true
                    FacilityIdentifiers:
                      type: array
                      items:
                        type: object
                        properties:
                          ID:
                            type: string
                            nullable: true
                          IDType:
                            type: string
                            nullable: true
                    Department:
                      type: string
                      nullable: true
                    DepartmentIdentifiers:
                      type: array
                      items:
                        type: object
                        properties:
                          ID:
                            type: string
                            nullable: true
                          IDType:
                            type: string
                            nullable: true
                    Room:
                      type: string
                      nullable: true
            Guarantor:
              type: object
              properties:
                Number:
                  type: string
                  nullable: true
                FirstName:
                  type: string
                  nullable: true
                MiddleName:
                  type: string
                  nullable: true
                LastName:
                  type: string
                  nullable: true
                SSN:
                  type: string
                  nullable: true
                DOB:
                  type: string
                  nullable: true
                Sex:
                  type: string
                  nullable: true
                Spouse:
                  type: object
                  properties:
                    FirstName:
                      type: string
                      nullable: true
                    LastName:
                      type: string
                      nullable: true
                Address:
                  type: object
                  properties:
                    StreetAddress:
                      type: string
                      nullable: true
                    City:
                      type: string
                      nullable: true
                    State:
                      type: string
                      nullable: true
                    ZIP:
                      type: string
                      nullable: true
                    County:
                      type: string
                      nullable: true
                    Country:
                      type: string
                      nullable: true
                PhoneNumber:
                  type: object
                  properties:
                    Home:
                      type: string
                      nullable: true
                    Business:
                      type: string
                      nullable: true
                    Mobile:
                      type: string
                      nullable: true
                EmailAddresses:
                  type: array
                  items: {}
                Type:
                  type: string
                  nullable: true
                RelationToPatient:
                  type: string
                  nullable: true
                Employer:
                  type: object
                  properties:
                    Name:
                      type: string
                      nullable: true
                    Address:
                      type: object
                      properties:
                        StreetAddress:
                          type: string
                          nullable: true
                        City:
                          type: string
                          nullable: true
                        State:
                          type: string
                          nullable: true
                        ZIP:
                          type: string
                          nullable: true
                        County:
                          type: string
                          nullable: true
                        Country:
                          type: string
                          nullable: true
                    PhoneNumber:
                      type: string
                      nullable: true
            Insurances:
              type: array
              items:
                type: object
                properties:
                  Plan:
                    type: object
                    properties:
                      ID:
                        type: string
                        nullable: true
                      IDType:
                        type: string
                        nullable: true
                      Name:
                        type: string
                        nullable: true
                      Type:
                        type: string
                        nullable: true
                  MemberNumber:
                    type: string
                    nullable: true
                  Company:
                    type: object
                    properties:
                      ID:
                        type: string
                        nullable: true
                      IDType:
                        type: string
                        nullable: true
                      Name:
                        type: string
                        nullable: true
                      Address:
                        type: object
                        properties:
                          StreetAddress:
                            type: string
                            nullable: true
                          City:
                            type: string
                            nullable: true
                          State:
                            type: string
                            nullable: true
                          ZIP:
                            type: string
                            nullable: true
                          County:
                            type: string
                            nullable: true
                          Country:
                            type: string
                            nullable: true
                      PhoneNumber:
                        type: string
                        nullable: true
                  GroupNumber:
                    type: string
                    nullable: true
                  GroupName:
                    type: string
                    nullable: true
                  EffectiveDate:
                    type: string
                    nullable: true
                  ExpirationDate:
                    type: string
                    nullable: true
                  PolicyNumber:
                    type: string
                    nullable: true
                  Priority:
                    type: string
                    nullable: true
                  AgreementType:
                    type: string
                    nullable: true
                  CoverageType:
                    type: string
                    nullable: true
                  Insured:
                    type: object
                    properties:
                      Identifiers:
                        type: array
                        items:
                          type: object
                          properties:
                            ID:
                              type: string
                              nullable: true
                            IDType:
                              type: string
                              nullable: true
                      LastName:
                        type: string
                        nullable: true
                      MiddleName:
                        type: string
                        nullable: true
                      FirstName:
                        type: string
                        nullable: true
                      SSN:
                        type: string
                        nullable: true
                      Relationship:
                        type: string
                        nullable: true
                      DOB:
                        type: string
                        nullable: true
                      Sex:
                        type: string
                        nullable: true
                      Address:
                        type: object
                        properties:
                          StreetAddress:
                            type: string
                            nullable: true
                          City:
                            type: string
                            nullable: true
                          State:
                            type: string
                            nullable: true
                          ZIP:
                            type: string
                            nullable: true
                          County:
                            type: string
                            nullable: true
                          Country:
                            type: string
                            nullable: true
            Location:
              type: object
              properties:
                Type:
                  type: string
                  nullable: true
                Facility:
                  type: string
                  nullable: true
                FacilityIdentifiers:
                  type: array
                  items:
                    type: object
                    properties:
                      ID:
                        type: string
                        nullable: true
                      IDType:
                        type: string
                        nullable: true
                Department:
                  type: string
                  nullable: true
                DepartmentIdentifiers:
                  type: array
                  items:
                    type: object
                    properties:
                      ID:
                        type: string
                        nullable: true
                      IDType:
                        type: string
                        nullable: true
                Room:
                  type: string
                  nullable: true
                Bed:
                  type: string
                  nullable: true
        Order:
          type: object
          properties:
            ID:
              type: string
            ApplicationOrderID:
              type: string
              nullable: true
            Status:
              type: string
              nullable: true
            TransactionDateTime:
              type: string
              nullable: true
            CollectionDateTime:
              type: string
              nullable: true
            Specimen:
              type: object
              properties:
                Source:
                  type: string
                  nullable: true
                BodySite:
                  type: string
                  nullable: true
                ID:
                  type: string
                  nullable: true
            Procedure:
              type: object
              properties:
                Code:
                  type: string
                  nullable: true
                Codeset:
                  type: string
                  nullable: true
                Description:
                  type: string
                  nullable: true
            Provider:
              type: object
              properties:
                NPI:
                  type: string
                  nullable: true
                ID:
                  type: string
                  nullable: true
                IDType:
                  type: string
                  nullable: true
                FirstName:
                  type: string
                  nullable: true
                LastName:
                  type: string
                  nullable: true
                Credentials:
                  type: array
                  items: {}
                Address:
                  type: object
                  properties:
                    StreetAddress:
                      type: string
                      nullable: true
                    City:
                      type: string
                      nullable: true
                    State:
                      type: string
                      nullable: true
                    ZIP:
                      type: string
                      nullable: true
                    County:
                      type: string
                      nullable: true
                    Country:
                      type: string
                      nullable: true
                EmailAddresses:
                  type: array
                  items: {}
                PhoneNumber:
                  type: object
                  properties:
                    Office:
                      type: string
                      nullable: true
                Location:
                  type: object
                  properties:
                    Type:
                      type: string
                      nullable: true
                    Facility:
                      type: string
                      nullable: true
                    FacilityIdentifiers:
                      type: array
                      items:
                        type: object
                        properties:
                          ID:
                            type: string
                            nullable: true
                          IDType:
                            type: string
                            nullable: true
                    Department:
                      type: string
                      nullable: true
                    DepartmentIdentifiers:
                      type: array
                      items:
                        type: object
                        properties:
                          ID:
                            type: string
                            nullable: true
                          IDType:
                            type: string
                            nullable: true
                    Room:
                      type: string
                      nullable: true
            ResultCopyProviders:
              type: array
              items:
                type: object
                properties:
                  ID:
                    type: string
                    nullable: true
                  IDType:
                    type: string
                    nullable: true
                  FirstName:
                    type: string
                    nullable: true
                  LastName:
                    type: string
                    nullable: true
                  Credentials:
                    type: array
                    items: {}
                  Address:
                    type: object
                    properties:
                      StreetAddress:
                        type: string
                        nullable: true
                      City:
                        type: string
                        nullable: true
                      State:
                        type: string
                        nullable: true
                      ZIP:
                        type: string
                        nullable: true
                      County:
                        type: string
                        nullable: true
                      Country:
                        type: string
                        nullable: true
                  EmailAddresses:
                    type: array
                    items: {}
                  PhoneNumber:
                    type: object
                    properties:
                      Office:
                        type: string
                        nullable: true
                  Location:
                    type: object
                    properties:
                      Type:
                        type: string
                        nullable: true
                      Facility:
                        type: string
                        nullable: true
                      FacilityIdentifiers:
                        type: array
                        items:
                          type: object
                          properties:
                            ID:
                              type: string
                              nullable: true
                            IDType:
                              type: string
                              nullable: true
                      Department:
                        type: string
                        nullable: true
                      DepartmentIdentifiers:
                        type: array
                        items:
                          type: object
                          properties:
                            ID:
                              type: string
                              nullable: true
                            IDType:
                              type: string
                              nullable: true
                      Room:
                        type: string
                        nullable: true
            OrderingFacility:
              type: object
              properties:
                Name:
                  type: string
                  nullable: true
                Address:
                  type: object
                  properties:
                    StreetAddress:
                      type: string
                      nullable: true
                    City:
                      type: string
                      nullable: true
                    State:
                      type: string
                      nullable: true
                    ZIP:
                      type: string
                      nullable: true
                    County:
                      type: string
                      nullable: true
                    Country:
                      type: string
                      nullable: true
                PhoneNumber:
                  type: string
                  nullable: true
            Priority:
              type: string
              nullable: true
            Expiration:
              type: string
              nullable: true
            Comments:
              type: string
              nullable: true
            Notes:
              type: array
              items: {}
            Diagnoses:
              type: array
              items:
                type: object
                properties:
                  Code:
                    type: string
                    nullable: true
                  Codeset:
                    type: string
                    nullable: true
                  Name:
                    type: string
                    nullable: true
                  Type:
                    type: string
                    nullable: true
                  DocumentedDateTime:
                    type: string
                    nullable: true
            ClinicalInfo:
              type: array
              items:
                type: object
                properties:
                  Code:
                    type: string
                    nullable: true
                  Codeset:
                    type: string
                    nullable: true
                  Description:
                    type: string
                    nullable: true
                  Value:
                    type: string
                    nullable: true
                  Units:
                    type: string
                    nullable: true
                  Abbreviation:
                    type: string
                    nullable: true
                  Notes:
                    type: array
                    items: {}
          required:
            - ID
      required:
        - Meta
        - Patient
        - Order
    NewFlowsheet:
      type: object
      properties:
        Meta:
          type: object
          required:
            - DataModel
            - EventType
          properties:
            DataModel:
              type: string
            EventType:
              type: string
            EventDateTime:
              type: string
              nullable: true
            Test:
              type: boolean
              nullable: true
            Source:
              type: object
              properties:
                ID:
                  type: string
                  nullable: true
                Name:
                  type: string
                  nullable: true
            Destinations:
              type: array
              items:
                type: object
                properties:
                  ID:
                    type: string
                    nullable: true
                  Name:
                    type: string
                    nullable: true
            Logs:
              type: array
              items:
                type: object
                properties:
                  ID:
                    type: string
                    nullable: true
                  AttemptID:
                    type: string
                    nullable: true
            Message:
              type: object
              properties:
                ID:
                  type: number
                  nullable: true
            Transmission:
              type: object
              properties:
                ID:
                  type: number
                  nullable: true
            FacilityCode:
              type: string
              nullable: true
        Patient:
          type: object
          required:
            - Identifiers
          properties:
            Identifiers:
              type: array
              items:
                type: object
                properties:
                  ID:
                    type: string
                  IDType:
                    type: string
                required:
                  - ID
                  - IDType
            Demographics:
              type: object
              properties:
                FirstName:
                  type: string
                  nullable: true
                MiddleName:
                  type: string
                  nullable: true
                LastName:
                  type: string
                  nullable: true
                DOB:
                  type: string
                  nullable: true
                SSN:
                  type: string
                  nullable: true
                Sex:
                  type: string
                  nullable: true
                Race:
                  type: string
                  nullable: true
                IsHispanic:
                  type: boolean
                  nullable: true
                Religion:
                  type: string
                  nullable: true
                MaritalStatus:
                  type: string
                  nullable: true
                IsDeceased:
                  type: boolean
                  nullable: true
                DeathDateTime:
                  type: string
                  nullable: true
                PhoneNumber:
                  type: object
                  properties:
                    Home:
                      type: string
                      nullable: true
                    Office:
                      type: string
                      nullable: true
                    Mobile:
                      type: string
                      nullable: true
                EmailAddresses:
                  type: array
                  items: {}
                Language:
                  type: string
                  nullable: true
                Citizenship:
                  type: array
                  items: {}
                Address:
                  type: object
                  properties:
                    StreetAddress:
                      type: string
                      nullable: true
                    City:
                      type: string
                      nullable: true
                    State:
                      type: string
                      nullable: true
                    ZIP:
                      type: string
                      nullable: true
                    County:
                      type: string
                      nullable: true
                    Country:
                      type: string
                      nullable: true
            Notes:
              type: array
              items: {}
            Contacts:
              type: array
              items:
                type: object
                properties:
                  FirstName:
                    type: string
                    nullable: true
                  MiddleName:
                    type: string
                    nullable: true
                  LastName:
                    type: string
                    nullable: true
                  Address:
                    type: object
                    properties:
                      StreetAddress:
                        type: string
                        nullable: true
                      City:
                        type: string
                        nullable: true
                      State:
                        type: string
                        nullable: true
                      ZIP:
                        type: string
                        nullable: true
                      County:
                        type: string
                        nullable: true
                      Country:
                        type: string
                        nullable: true
                  PhoneNumber:
                    type: object
                    properties:
                      Home:
                        type: string
                        nullable: true
                      Office:
                        type: string
                        nullable: true
                      Mobile:
                        type: string
                        nullable: true
                  RelationToPatient:
                    type: string
                    nullable: true
                  EmailAddresses:
                    type: array
                    items: {}
                  Roles:
                    type: array
                    items: {}
        Visit:
          type: object
          properties:
            VisitNumber:
              type: string
              nullable: true
            AccountNumber:
              type: string
              nullable: true
            VisitDateTime:
              type: string
              nullable: true
            Location:
              type: object
              properties:
                Type:
                  type: string
                  nullable: true
                Facility:
                  type: string
                  nullable: true
                FacilityIdentifiers:
                  type: array
                  items:
                    type: object
                    properties:
                      ID:
                        type: string
                        nullable: true
                      IDType:
                        type: string
                        nullable: true
                Department:
                  type: string
                  nullable: true
                DepartmentIdentifiers:
                  type: array
                  items:
                    type: object
                    properties:
                      ID:
                        type: string
                        nullable: true
                      IDType:
                        type: string
                        nullable: true
                Room:
                  type: string
                  nullable: true
                Bed:
                  type: string
                  nullable: true
            Extensions:
              type: array
              x-stoplight:
                id: 0gnhldre4wsiy
              items: {}
        Observations:
          type: array
          items:
            type: object
            properties:
              DateTime:
                type: string
              Value:
                type: string
              ValueType:
                type: string
              Units:
                type: string
                nullable: true
              Code:
                type: string
              Codeset:
                type: string
                nullable: true
              Description:
                type: string
                nullable: true
              Status:
                type: string
                nullable: true
              Notes:
                type: array
                items: {}
              Observer:
                type: object
                properties:
                  ID:
                    type: string
                    nullable: true
                  IDType:
                    type: string
                    nullable: true
                  FirstName:
                    type: string
                    nullable: true
                  LastName:
                    type: string
                    nullable: true
              ReferenceRange:
                type: object
                properties:
                  Low:
                    type: number
                    nullable: true
                  High:
                    type: number
                    nullable: true
                  Text:
                    type: string
                    nullable: true
              AbnormalFlag:
                type: string
                nullable: true
            required:
              - DateTime
              - Value
              - ValueType
              - Code
      required:
        - Meta
        - Patient
        - Observations
    NewNotes:
      type: object
      properties:
        Meta:
          type: object
          properties:
            DataModel:
              type: string
            EventType:
              type: string
            EventDateTime:
              type: string
              nullable: true
            Test:
              type: boolean
              nullable: true
            Source:
              type: object
              properties:
                ID:
                  type: string
                  nullable: true
                Name:
                  type: string
                  nullable: true
            Destinations:
              type: array
              items:
                type: object
                properties:
                  ID:
                    type: string
                    nullable: true
                  Name:
                    type: string
                    nullable: true
            Logs:
              type: array
              items:
                type: object
                properties:
                  ID:
                    type: string
                    nullable: true
                  AttemptID:
                    type: string
                    nullable: true
            Message:
              type: object
              properties:
                ID:
                  type: number
                  nullable: true
            Transmission:
              type: object
              properties:
                ID:
                  type: number
                  nullable: true
            FacilityCode:
              type: string
              nullable: true
          required:
            - DataModel
            - EventType
        Patient:
          type: object
          properties:
            Identifiers:
              type: array
              items:
                type: object
                properties:
                  ID:
                    type: string
                  IDType:
                    type: string
                required:
                  - ID
                  - IDType
            Demographics:
              type: object
              properties:
                FirstName:
                  type: string
                  nullable: true
                MiddleName:
                  type: string
                  nullable: true
                LastName:
                  type: string
                  nullable: true
                DOB:
                  type: string
                  nullable: true
                SSN:
                  type: string
                  nullable: true
                Sex:
                  type: string
                  nullable: true
                Race:
                  type: string
                  nullable: true
                IsHispanic:
                  type: boolean
                  nullable: true
                Religion:
                  type: string
                  nullable: true
                MaritalStatus:
                  type: string
                  nullable: true
                IsDeceased:
                  type: boolean
                  nullable: true
                DeathDateTime:
                  type: string
                  nullable: true
                PhoneNumber:
                  type: object
                  properties:
                    Home:
                      type: string
                      nullable: true
                    Office:
                      type: string
                      nullable: true
                    Mobile:
                      type: string
                      nullable: true
                EmailAddresses:
                  type: array
                  items: {}
                Language:
                  type: string
                  nullable: true
                Citizenship:
                  type: array
                  items: {}
                Address:
                  type: object
                  properties:
                    StreetAddress:
                      type: string
                      nullable: true
                    City:
                      type: string
                      nullable: true
                    State:
                      type: string
                      nullable: true
                    ZIP:
                      type: string
                      nullable: true
                    County:
                      type: string
                      nullable: true
                    Country:
                      type: string
                      nullable: true
            Notes:
              type: array
              items: {}
          required:
            - Identifiers
        Visit:
          type: object
          properties:
            VisitNumber:
              type: string
              nullable: true
            AccountNumber:
              type: string
              nullable: true
            PatientClass:
              type: string
              nullable: true
            VisitDateTime:
              type: string
              nullable: true
            Location:
              type: object
              properties:
                Type:
                  type: string
                  nullable: true
                Facility:
                  type: string
                  nullable: true
                FacilityIdentifiers:
                  type: array
                  items:
                    type: object
                    properties:
                      ID:
                        type: string
                        nullable: true
                      IDType:
                        type: string
                        nullable: true
                Department:
                  type: string
                  nullable: true
                DepartmentIdentifiers:
                  type: array
                  items:
                    type: object
                    properties:
                      ID:
                        type: string
                        nullable: true
                      IDType:
                        type: string
                        nullable: true
                Room:
                  type: string
                  nullable: true
                Bed:
                  type: string
                  nullable: true
            AdditionalStaff:
              type: array
              items:
                type: object
                properties:
                  ID:
                    type: string
                    nullable: true
                  IDType:
                    type: string
                    nullable: true
                  FirstName:
                    type: string
                    nullable: true
                  LastName:
                    type: string
                    nullable: true
                  Credentials:
                    type: array
                    items: {}
                  Address:
                    type: object
                    properties:
                      StreetAddress:
                        type: string
                        nullable: true
                      City:
                        type: string
                        nullable: true
                      State:
                        type: string
                        nullable: true
                      ZIP:
                        type: string
                        nullable: true
                      County:
                        type: string
                        nullable: true
                      Country:
                        type: string
                        nullable: true
                  EmailAddresses:
                    type: array
                    items: {}
                  PhoneNumber:
                    type: object
                    properties:
                      Office:
                        type: string
                        nullable: true
                  Location:
                    type: object
                    properties:
                      Type:
                        type: string
                        nullable: true
                      Facility:
                        type: string
                        nullable: true
                      FacilityIdentifiers:
                        type: array
                        items:
                          type: object
                          properties:
                            ID:
                              type: string
                              nullable: true
                            IDType:
                              type: string
                              nullable: true
                      Department:
                        type: string
                        nullable: true
                      DepartmentIdentifiers:
                        type: array
                        items:
                          type: object
                          properties:
                            ID:
                              type: string
                              nullable: true
                            IDType:
                              type: string
                              nullable: true
                      Room:
                        type: string
                        nullable: true
                  Role:
                    type: object
                    properties:
                      Code:
                        type: string
                        nullable: true
                      Codeset:
                        type: string
                        nullable: true
                      Description:
                        type: string
                        nullable: true
        Note:
          type: object
          properties:
            ContentType:
              type: string
            FileContents:
              type: string
              nullable: true
            FileName:
              type: string
              nullable: true
            FileType:
              type: string
              nullable: true
            DocumentType:
              type: string
            DocumentID:
              type: string
            DocumentDescription:
              type: string
              nullable: true
            ServiceDateTime:
              type: string
              nullable: true
            DocumentationDateTime:
              type: string
              nullable: true
            Status:
              type: string
              nullable: true
            Availability:
              type: string
              nullable: true
            Provider:
              type: object
              properties:
                ID:
                  type: string
                IDType:
                  type: string
                  nullable: true
                FirstName:
                  type: string
                  nullable: true
                LastName:
                  type: string
                  nullable: true
                Credentials:
                  type: array
                  items: {}
                Address:
                  type: object
                  properties:
                    StreetAddress:
                      type: string
                      nullable: true
                    City:
                      type: string
                      nullable: true
                    State:
                      type: string
                      nullable: true
                    ZIP:
                      type: string
                      nullable: true
                    County:
                      type: string
                      nullable: true
                    Country:
                      type: string
                      nullable: true
                EmailAddresses:
                  type: array
                  items: {}
                PhoneNumber:
                  type: object
                  properties:
                    Office:
                      type: string
                      nullable: true
                Location:
                  type: object
                  properties:
                    Type:
                      type: string
                      nullable: true
                    Facility:
                      type: string
                      nullable: true
                    FacilityIdentifiers:
                      type: array
                      items:
                        type: object
                        properties:
                          ID:
                            type: string
                            nullable: true
                          IDType:
                            type: string
                            nullable: true
                    Department:
                      type: string
                      nullable: true
                    DepartmentIdentifiers:
                      type: array
                      items:
                        type: object
                        properties:
                          ID:
                            type: string
                            nullable: true
                          IDType:
                            type: string
                            nullable: true
                    Room:
                      type: string
                      nullable: true
              required:
                - ID
            Authenticator:
              type: object
              properties:
                ID:
                  type: string
                  nullable: true
                IDType:
                  type: string
                  nullable: true
                FirstName:
                  type: string
                  nullable: true
                LastName:
                  type: string
                  nullable: true
                Credentials:
                  type: array
                  items: {}
                Address:
                  type: object
                  properties:
                    StreetAddress:
                      type: string
                      nullable: true
                    City:
                      type: string
                      nullable: true
                    State:
                      type: string
                      nullable: true
                    ZIP:
                      type: string
                      nullable: true
                    County:
                      type: string
                      nullable: true
                    Country:
                      type: string
                      nullable: true
                EmailAddresses:
                  type: array
                  items: {}
                PhoneNumber:
                  type: object
                  properties:
                    Office:
                      type: string
                      nullable: true
                Location:
                  type: object
                  properties:
                    Type:
                      type: string
                      nullable: true
                    Facility:
                      type: string
                      nullable: true
                    FacilityIdentifiers:
                      type: array
                      items:
                        type: object
                        properties:
                          ID:
                            type: string
                            nullable: true
                          IDType:
                            type: string
                            nullable: true
                    Department:
                      type: string
                      nullable: true
                    DepartmentIdentifiers:
                      type: array
                      items:
                        type: object
                        properties:
                          ID:
                            type: string
                            nullable: true
                          IDType:
                            type: string
                            nullable: true
                    Room:
                      type: string
                      nullable: true
            Notifications:
              type: array
              items:
                type: object
                properties:
                  ID:
                    type: string
                    nullable: true
                  IDType:
                    type: string
                    nullable: true
                  FirstName:
                    type: string
                    nullable: true
                  LastName:
                    type: string
                    nullable: true
                  Credentials:
                    type: array
                    items: {}
                  Address:
                    type: object
                    properties:
                      StreetAddress:
                        type: string
                        nullable: true
                      City:
                        type: string
                        nullable: true
                      State:
                        type: string
                        nullable: true
                      ZIP:
                        type: string
                        nullable: true
                      County:
                        type: string
                        nullable: true
                      Country:
                        type: string
                        nullable: true
                  EmailAddresses:
                    type: array
                    items: {}
                  PhoneNumber:
                    type: object
                    properties:
                      Office:
                        type: string
                        nullable: true
                  Location:
                    type: object
                    properties:
                      Type:
                        type: string
                        nullable: true
                      Facility:
                        type: string
                        nullable: true
                      FacilityIdentifiers:
                        type: array
                        items:
                          type: object
                          properties:
                            ID:
                              type: string
                              nullable: true
                            IDType:
                              type: string
                              nullable: true
                      Department:
                        type: string
                        nullable: true
                      DepartmentIdentifiers:
                        type: array
                        items:
                          type: object
                          properties:
                            ID:
                              type: string
                              nullable: true
                            IDType:
                              type: string
                              nullable: true
                      Room:
                        type: string
                        nullable: true
            Components:
              type: array
              items:
                type: object
                properties:
                  ID:
                    type: string
                    nullable: true
                  Name:
                    type: string
                    nullable: true
                  Value:
                    type: string
                    nullable: true
                  Comments:
                    type: string
                    nullable: true
          required:
            - ContentType
            - DocumentType
            - DocumentID
            - Provider
        Orders:
          type: array
          items:
            type: object
            properties:
              ID:
                type: string
                nullable: true
              Name:
                type: string
                nullable: true
      required:
        - Meta
        - Patient
        - Note
    NewResults:
      type: object
      properties:
        Meta:
          type: object
          properties:
            DataModel:
              type: string
            EventType:
              type: string
            EventDateTime:
              type: string
              nullable: true
            Test:
              type: boolean
              nullable: true
            Source:
              type: object
              properties:
                ID:
                  type: string
                  nullable: true
                Name:
                  type: string
                  nullable: true
            Destinations:
              type: array
              items:
                type: object
                properties:
                  ID:
                    type: string
                    nullable: true
                  Name:
                    type: string
                    nullable: true
            Logs:
              type: array
              items:
                type: object
                properties:
                  ID:
                    type: string
                    nullable: true
                  AttemptID:
                    type: string
                    nullable: true
            Message:
              type: object
              properties:
                ID:
                  type: number
                  nullable: true
            Transmission:
              type: object
              properties:
                ID:
                  type: number
                  nullable: true
            FacilityCode:
              type: string
              nullable: true
          required:
            - DataModel
            - EventType
        Patient:
          type: object
          properties:
            Identifiers:
              type: array
              items:
                type: object
                properties:
                  ID:
                    type: string
                  IDType:
                    type: string
                required:
                  - ID
                  - IDType
            Demographics:
              type: object
              properties:
                FirstName:
                  type: string
                  nullable: true
                MiddleName:
                  type: string
                  nullable: true
                LastName:
                  type: string
                  nullable: true
                DOB:
                  type: string
                  nullable: true
                SSN:
                  type: string
                  nullable: true
                Sex:
                  type: string
                  nullable: true
                Race:
                  type: string
                  nullable: true
                IsHispanic:
                  type: boolean
                  nullable: true
                Religion:
                  type: string
                  nullable: true
                MaritalStatus:
                  type: string
                  nullable: true
                IsDeceased:
                  type: boolean
                  nullable: true
                DeathDateTime:
                  type: string
                  nullable: true
                PhoneNumber:
                  type: object
                  properties:
                    Home:
                      type: string
                      nullable: true
                    Office:
                      type: string
                      nullable: true
                    Mobile:
                      type: string
                      nullable: true
                EmailAddresses:
                  type: array
                  items: {}
                Language:
                  type: string
                  nullable: true
                Citizenship:
                  type: array
                  items: {}
                Address:
                  type: object
                  properties:
                    StreetAddress:
                      type: string
                      nullable: true
                    City:
                      type: string
                      nullable: true
                    State:
                      type: string
                      nullable: true
                    ZIP:
                      type: string
                      nullable: true
                    County:
                      type: string
                      nullable: true
                    Country:
                      type: string
                      nullable: true
            Notes:
              type: array
              items: {}
            Contacts:
              type: array
              items:
                type: object
                properties:
                  FirstName:
                    type: string
                    nullable: true
                  MiddleName:
                    type: string
                    nullable: true
                  LastName:
                    type: string
                    nullable: true
                  Address:
                    type: object
                    properties:
                      StreetAddress:
                        type: string
                        nullable: true
                      City:
                        type: string
                        nullable: true
                      State:
                        type: string
                        nullable: true
                      ZIP:
                        type: string
                        nullable: true
                      County:
                        type: string
                        nullable: true
                      Country:
                        type: string
                        nullable: true
                  PhoneNumber:
                    type: object
                    properties:
                      Home:
                        type: string
                        nullable: true
                      Office:
                        type: string
                        nullable: true
                      Mobile:
                        type: string
                        nullable: true
                  RelationToPatient:
                    type: string
                    nullable: true
                  EmailAddresses:
                    type: array
                    items: {}
                  Roles:
                    type: array
                    items: {}
          required:
            - Identifiers
        Orders:
          type: array
          items:
            type: object
            properties:
              ID:
                type: string
              ApplicationOrderID:
                type: string
                nullable: true
              TransactionDateTime:
                type: string
                nullable: true
              CollectionDateTime:
                type: string
                nullable: true
              CompletionDateTime:
                type: string
                nullable: true
              Notes:
                type: array
                items: {}
              ResultsStatus:
                type: string
                nullable: true
              Procedure:
                type: object
                properties:
                  Code:
                    type: string
                    nullable: true
                  Codeset:
                    type: string
                    nullable: true
                  Description:
                    type: string
                    nullable: true
              Provider:
                type: object
                properties:
                  NPI:
                    type: string
                    nullable: true
                  ID:
                    type: string
                    nullable: true
                  IDType:
                    type: string
                    nullable: true
                  FirstName:
                    type: string
                    nullable: true
                  LastName:
                    type: string
                    nullable: true
                  Credentials:
                    type: array
                    items: {}
                  Address:
                    type: object
                    properties:
                      StreetAddress:
                        type: string
                        nullable: true
                      City:
                        type: string
                        nullable: true
                      State:
                        type: string
                        nullable: true
                      ZIP:
                        type: string
                        nullable: true
                      County:
                        type: string
                        nullable: true
                      Country:
                        type: string
                        nullable: true
                  EmailAddresses:
                    type: array
                    items: {}
                  PhoneNumber:
                    type: object
                    properties:
                      Office:
                        type: string
                        nullable: true
                  Location:
                    type: object
                    properties:
                      Type:
                        type: string
                        nullable: true
                      Facility:
                        type: string
                        nullable: true
                      FacilityIdentifiers:
                        type: array
                        items:
                          type: object
                          properties:
                            ID:
                              type: string
                              nullable: true
                            IDType:
                              type: string
                              nullable: true
                      Department:
                        type: string
                        nullable: true
                      DepartmentIdentifiers:
                        type: array
                        items:
                          type: object
                          properties:
                            ID:
                              type: string
                              nullable: true
                            IDType:
                              type: string
                              nullable: true
                      Room:
                        type: string
                        nullable: true
              ResultCopyProviders:
                type: array
                items:
                  type: object
                  properties:
                    ID:
                      type: string
                      nullable: true
                    IDType:
                      type: string
                      nullable: true
                    FirstName:
                      type: string
                      nullable: true
                    LastName:
                      type: string
                      nullable: true
                    Credentials:
                      type: array
                      items: {}
                    Address:
                      type: object
                      properties:
                        StreetAddress:
                          type: string
                          nullable: true
                        City:
                          type: string
                          nullable: true
                        State:
                          type: string
                          nullable: true
                        ZIP:
                          type: string
                          nullable: true
                        County:
                          type: string
                          nullable: true
                        Country:
                          type: string
                          nullable: true
                    EmailAddresses:
                      type: array
                      items: {}
                    PhoneNumber:
                      type: object
                      properties:
                        Office:
                          type: string
                          nullable: true
                    Location:
                      type: object
                      properties:
                        Type:
                          type: string
                          nullable: true
                        Facility:
                          type: string
                          nullable: true
                        FacilityIdentifiers:
                          type: array
                          items:
                            type: object
                            properties:
                              ID:
                                type: string
                                nullable: true
                              IDType:
                                type: string
                                nullable: true
                        Department:
                          type: string
                          nullable: true
                        DepartmentIdentifiers:
                          type: array
                          items:
                            type: object
                            properties:
                              ID:
                                type: string
                                nullable: true
                              IDType:
                                type: string
                                nullable: true
                        Room:
                          type: string
                          nullable: true
              Status:
                type: string
              ResponseFlag:
                type: string
                nullable: true
              Priority:
                type: string
                nullable: true
              Results:
                type: array
                items:
                  type: object
                  properties:
                    Code:
                      type: string
                    Codeset:
                      type: string
                      nullable: true
                    Description:
                      type: string
                      nullable: true
                    RelatedGroupID:
                      type: string
                      nullable: true
                    Specimen:
                      type: object
                      properties:
                        Source:
                          type: string
                          nullable: true
                        BodySite:
                          type: string
                          nullable: true
                        ID:
                          type: string
                          nullable: true
                    Value:
                      type: string
                    ValueType:
                      type: string
                    CompletionDateTime:
                      type: string
                      nullable: true
                    FileType:
                      type: string
                      nullable: true
                    Units:
                      type: string
                      nullable: true
                    Notes:
                      type: array
                      items: {}
                    AbnormalFlag:
                      type: string
                      nullable: true
                    Status:
                      type: string
                      nullable: true
                    PrimaryResultsInterpreter:
                      type: object
                      properties:
                        NPI:
                          type: string
                          nullable: true
                        ID:
                          type: string
                          nullable: true
                        IDType:
                          type: string
                          nullable: true
                        FirstName:
                          type: string
                          nullable: true
                        LastName:
                          type: string
                          nullable: true
                        Credentials:
                          type: array
                          items: {}
                        Address:
                          type: object
                          properties:
                            StreetAddress:
                              type: string
                              nullable: true
                            City:
                              type: string
                              nullable: true
                            State:
                              type: string
                              nullable: true
                            ZIP:
                              type: string
                              nullable: true
                            County:
                              type: string
                              nullable: true
                            Country:
                              type: string
                              nullable: true
                        EmailAddresses:
                          type: array
                          items: {}
                        PhoneNumber:
                          type: object
                          properties:
                            Office:
                              type: string
                              nullable: true
                        Location:
                          type: object
                          properties:
                            Type:
                              type: string
                              nullable: true
                            Facility:
                              type: string
                              nullable: true
                            FacilityIdentifiers:
                              type: array
                              items:
                                type: object
                                properties:
                                  ID:
                                    type: string
                                    nullable: true
                                  IDType:
                                    type: string
                                    nullable: true
                            Department:
                              type: string
                              nullable: true
                            DepartmentIdentifiers:
                              type: array
                              items:
                                type: object
                                properties:
                                  ID:
                                    type: string
                                    nullable: true
                                  IDType:
                                    type: string
                                    nullable: true
                            Room:
                              type: string
                              nullable: true
                    Producer:
                      type: object
                      properties:
                        ID:
                          type: string
                          nullable: true
                        Name:
                          type: string
                          nullable: true
                        IDType:
                          type: string
                          nullable: true
                        Address:
                          type: object
                          properties:
                            StreetAddress:
                              type: string
                              nullable: true
                            City:
                              type: string
                              nullable: true
                            State:
                              type: string
                              nullable: true
                            ZIP:
                              type: string
                              nullable: true
                            County:
                              type: string
                              nullable: true
                            Country:
                              type: string
                              nullable: true
                    Performer:
                      type: object
                      properties:
                        ID:
                          type: string
                          nullable: true
                        IDType:
                          type: string
                          nullable: true
                        FirstName:
                          type: string
                          nullable: true
                        LastName:
                          type: string
                          nullable: true
                        Credentials:
                          type: array
                          items: {}
                        Address:
                          type: object
                          properties:
                            StreetAddress:
                              type: string
                              nullable: true
                            City:
                              type: string
                              nullable: true
                            State:
                              type: string
                              nullable: true
                            ZIP:
                              type: string
                              nullable: true
                            County:
                              type: string
                              nullable: true
                            Country:
                              type: string
                              nullable: true
                        EmailAddresses:
                          type: array
                          items: {}
                        PhoneNumber:
                          type: object
                          properties:
                            Office:
                              type: string
                              nullable: true
                        Location:
                          type: object
                          properties:
                            Type:
                              type: string
                              nullable: true
                            Facility:
                              type: string
                              nullable: true
                            FacilityIdentifiers:
                              type: array
                              items:
                                type: object
                                properties:
                                  ID:
                                    type: string
                                    nullable: true
                                  IDType:
                                    type: string
                                    nullable: true
                            Department:
                              type: string
                              nullable: true
                            DepartmentIdentifiers:
                              type: array
                              items:
                                type: object
                                properties:
                                  ID:
                                    type: string
                                    nullable: true
                                  IDType:
                                    type: string
                                    nullable: true
                            Room:
                              type: string
                              nullable: true
                    ReferenceRange:
                      type: object
                      properties:
                        Low:
                          type: number
                          nullable: true
                        High:
                          type: number
                          nullable: true
                        Text:
                          type: string
                          nullable: true
                    ObservationMethod:
                      type: object
                      properties:
                        Code:
                          type: string
                          nullable: true
                        Codeset:
                          type: string
                          nullable: true
                        Description:
                          type: string
                          nullable: true
                  required:
                    - Code
                    - Value
                    - ValueType
            required:
              - ID
              - Status
              - Results
        Visit:
          type: object
          properties:
            VisitDateTime:
              type: string
              nullable: true
            VisitNumber:
              type: string
              nullable: true
            AccountNumber:
              type: string
              nullable: true
            PatientClass:
              type: string
              nullable: true
            Location:
              type: object
              properties:
                Type:
                  type: string
                  nullable: true
                Facility:
                  type: string
                  nullable: true
                FacilityIdentifiers:
                  type: array
                  items:
                    type: object
                    properties:
                      ID:
                        type: string
                        nullable: true
                      IDType:
                        type: string
                        nullable: true
                Department:
                  type: string
                  nullable: true
                DepartmentIdentifiers:
                  type: array
                  items:
                    type: object
                    properties:
                      ID:
                        type: string
                        nullable: true
                      IDType:
                        type: string
                        nullable: true
                Room:
                  type: string
                  nullable: true
                Bed:
                  type: string
                  nullable: true
            AttendingProvider:
              type: object
              properties:
                ID:
                  type: string
                  nullable: true
                IDType:
                  type: string
                  nullable: true
                FirstName:
                  type: string
                  nullable: true
                LastName:
                  type: string
                  nullable: true
                Credentials:
                  type: array
                  items: {}
                Address:
                  type: object
                  properties:
                    StreetAddress:
                      type: string
                      nullable: true
                    City:
                      type: string
                      nullable: true
                    State:
                      type: string
                      nullable: true
                    ZIP:
                      type: string
                      nullable: true
                    County:
                      type: string
                      nullable: true
                    Country:
                      type: string
                      nullable: true
                EmailAddresses:
                  type: array
                  items: {}
                PhoneNumber:
                  type: object
                  properties:
                    Office:
                      type: string
                      nullable: true
                Location:
                  type: object
                  properties:
                    Type:
                      type: string
                      nullable: true
                    Facility:
                      type: string
                      nullable: true
                    FacilityIdentifiers:
                      type: array
                      items:
                        type: object
                        properties:
                          ID:
                            type: string
                            nullable: true
                          IDType:
                            type: string
                            nullable: true
                    Department:
                      type: string
                      nullable: true
                    DepartmentIdentifiers:
                      type: array
                      items:
                        type: object
                        properties:
                          ID:
                            type: string
                            nullable: true
                          IDType:
                            type: string
                            nullable: true
                    Room:
                      type: string
                      nullable: true
            ReferringProvider:
              type: object
              properties:
                ID:
                  type: string
                  nullable: true
                IDType:
                  type: string
                  nullable: true
                FirstName:
                  type: string
                  nullable: true
                LastName:
                  type: string
                  nullable: true
                Credentials:
                  type: array
                  items: {}
                Address:
                  type: object
                  properties:
                    StreetAddress:
                      type: string
                      nullable: true
                    City:
                      type: string
                      nullable: true
                    State:
                      type: string
                      nullable: true
                    ZIP:
                      type: string
                      nullable: true
                    County:
                      type: string
                      nullable: true
                    Country:
                      type: string
                      nullable: true
                EmailAddresses:
                  type: array
                  items: {}
                PhoneNumber:
                  type: object
                  properties:
                    Office:
                      type: string
                      nullable: true
                Location:
                  type: object
                  properties:
                    Type:
                      type: string
                      nullable: true
                    Facility:
                      type: string
                      nullable: true
                    FacilityIdentifiers:
                      type: array
                      items:
                        type: object
                        properties:
                          ID:
                            type: string
                            nullable: true
                          IDType:
                            type: string
                            nullable: true
                    Department:
                      type: string
                      nullable: true
                    DepartmentIdentifiers:
                      type: array
                      items:
                        type: object
                        properties:
                          ID:
                            type: string
                            nullable: true
                          IDType:
                            type: string
                            nullable: true
                    Room:
                      type: string
                      nullable: true
            AdditionalStaff:
              type: array
              items:
                type: object
                properties:
                  ID:
                    type: string
                    nullable: true
                  IDType:
                    type: string
                    nullable: true
                  FirstName:
                    type: string
                    nullable: true
                  LastName:
                    type: string
                    nullable: true
                  Credentials:
                    type: array
                    items: {}
                  Address:
                    type: object
                    properties:
                      StreetAddress:
                        type: string
                        nullable: true
                      City:
                        type: string
                        nullable: true
                      State:
                        type: string
                        nullable: true
                      ZIP:
                        type: string
                        nullable: true
                      County:
                        type: string
                        nullable: true
                      Country:
                        type: string
                        nullable: true
                  EmailAddresses:
                    type: array
                    items: {}
                  PhoneNumber:
                    type: object
                    properties:
                      Office:
                        type: string
                        nullable: true
                  Location:
                    type: object
                    properties:
                      Type:
                        type: string
                        nullable: true
                      Facility:
                        type: string
                        nullable: true
                      FacilityIdentifiers:
                        type: array
                        items:
                          type: object
                          properties:
                            ID:
                              type: string
                              nullable: true
                            IDType:
                              type: string
                              nullable: true
                      Department:
                        type: string
                        nullable: true
                      DepartmentIdentifiers:
                        type: array
                        items:
                          type: object
                          properties:
                            ID:
                              type: string
                              nullable: true
                            IDType:
                              type: string
                              nullable: true
                      Room:
                        type: string
                        nullable: true
                  Role:
                    type: object
[...]
